.job-description .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.job-description .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-description .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.job-description .container-42 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.job-description .container-35 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-description .container-6 {
  background: #000000;
  position: relative;
  margin-bottom: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.job-description .job-tittle {
  margin: 0 30px 3px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 54px;
  color: #BB362A;
}
.job-description .posted-on-100624 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-description .group-27 {
  margin: 0 30px 60.5px 30px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.job-description .vector-92 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #000000;
  margin: 0 8.5px 37px 7px;
  width: 1267.5px;
  height: 0px;
}
.job-description .about-project {
  margin: 0 30px 16px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 44px;
  color: #BB362A;
}
.job-description .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum-lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-description .group-28 {
  margin: 0 29.3px 40px 30px;
  display: flex;
  box-sizing: border-box;
}
.job-description .vector-93 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #000000;
  margin: 0 8.5px 37.5px 7px;
  width: 1267.5px;
  height: 0px;
}
.job-description .your-role {
  margin: 0 30px 16px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 44px;
  color: #BB362A;
}
.job-description .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-quis-nostrud-exercitation-ullamco-laboris-nisi-ut-aliquip-ex-ea-commodo-consequat-duis-aute-irure-dolor-in-reprehenderit-in-voluptate-velit-esse-cillum-dolore-eu-fugiat-nulla-pariatur-excepteur-sint-occaecat-cupidatat-non-proident-sunt-in-culpa-qui-officia-deserunt-mollit-anim-id-est-laborum {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-description .group-30 {
  margin: 0 29.3px 32px 30px;
  display: flex;
  box-sizing: border-box;
}
.job-description .skills-required-skill-1-skill-2-skill-3 {
  margin: 0 30px 37px 30px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.skills-required-skill-1-skill-2-skill-3 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
  color: #000000;
}
.job-description .vector-941 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #000000;
  margin: 0 8.5px 37.5px 7px;
  width: 1267.5px;
  height: 0px;
}
.job-description .company-details {
  margin: 0 30px 16px 30px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 44px;
  color: #BB362A;
}
.job-description .name-of-company {
  margin-right: 13.5px;
  width: 227px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-5 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .talent-for-talet {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-17 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 446.5px;
  box-sizing: border-box;
}
.job-description .recruiter-owner {
  margin-right: 13.5px;
  width: 227px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-6 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .rahul-singh {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-26 {
  margin: 0 30px 38px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 418.4px;
  box-sizing: border-box;
}
.job-description .member-since-2022 {
  margin-right: 13.5px;
  width: 218px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.member-since-2022 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-description .verified-user {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.jobs-posted-sub4 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-description .jobs-posted {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .hired {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.hired-sub5 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-description .container-21 {
  margin: 0 30px 38px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 800.4px;
  box-sizing: border-box;
}
.job-description .vector-94 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #000000;
  margin: 0 8.5px 37.5px 7px;
  width: 1267.5px;
  height: 0px;
}
.job-description .location {
  margin-right: 13.5px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-7 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .mumbai-maharashtra {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-2 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 487.3px;
  box-sizing: border-box;
}
.job-description .start-by {
  margin-right: 13.5px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-8 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-8 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 335.7px;
  box-sizing: border-box;
}
.job-description .duration {
  margin-right: 13.5px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-9 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .months {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-33 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 351.7px;
  box-sizing: border-box;
}
.job-description .compensation {
  margin-right: 13.5px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-4 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-37 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 254.4px;
  box-sizing: border-box;
}
.job-description .other-facilities {
  margin-right: 13.5px;
  width: 192px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-10 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-3 {
  margin: 0 30px 10px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 254.4px;
  box-sizing: border-box;
}
.job-description .website {
  margin-right: 13.5px;
  width: 167px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.job-description .container-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .talentfortalent-in {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .container-20 {
  margin: 0 30px 149px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 434.8px;
  box-sizing: border-box;
}
.job-description .rectangle-19 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}
.job-description .apply-now {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
}
.job-description .container-19 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-right: 47px;
  display: flex;
  padding: 13px 5px 16px 0;
  width: 618px;
  box-sizing: border-box;
}
.job-description .shortlist-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 26px;
  color: #FFFFFF;
}
.job-description .group-24 {
  display: flex;
  box-sizing: border-box;
}
.job-description .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 1px 16px 0;
  width: 618px;
  box-sizing: border-box;
}
.job-description .container-34 {
  display: flex;
  flex-direction: row;
  width: 1283px;
  box-sizing: border-box;
}
.job-description .container-40 {
  border-radius: 12px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 140px 40px;
  display: flex;
  flex-direction: column;
  padding: 67px 37px 45px 39px;
  width: fit-content;
  box-sizing: border-box;
}
.job-description .view-similar-jobs {
  margin: 0 79px 54.9px 79px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 32px;
  color: #000000;
}
.job-description .job-tittle-1 {
  margin: 4px 16px 0 0;
  display: inline-block;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .ellipse-17 {
  margin: 8px 7px 8px 0;
  width: 8px;
  height: 7px;
}
.job-description .ellipse-20 {
  border-radius: 4px;
  background: #000000;
  margin-bottom: 7px;
  width: 8px;
  height: 8px;
}
.job-description .ellipse-23 {
  border-radius: 4px;
  background: #000000;
  width: 8px;
  height: 8px;
}
.job-description .container-11 {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
  box-sizing: border-box;
}
.job-description .vector-85 {
  width: 16px;
  height: 23px;
}
.job-description .container-41 {
  margin-bottom: 13px;
  display: flex;
  flex-direction: row;
  width: 55px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container-38 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 289px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container {
  position: absolute;
  top: 4px;
  right: 35px;
  width: 16px;
  height: 8px;
}
.job-description .container-27 {
  position: relative;
  margin-bottom: 7px;
  display: flex;
  width: 289px;
  box-sizing: border-box;
}
.job-description .location-1 {
  margin: 0 193.5px 4px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .job-description-1 {
  margin: 0 115.9px 44px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .apply-by {
  margin: 0 191.2px 25px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .view-all-details-and-apply {
  margin-right: 62px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #BB362A;
}
.job-description .container-9 {
  box-shadow: 4.4px 4.4px 4.4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 13.2px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 94.6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 23.1px 0 24.1px 0;
  width: 363px;
  box-sizing: border-box;
}
.job-description .job-tittle-3 {
  margin-right: 16px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .ellipse-24 {
  margin: 8px 7px 8px 0;
  width: 8px;
  height: 7px;
}
.job-description .ellipse-25 {
  border-radius: 4px;
  background: #000000;
  margin-bottom: 7px;
  width: 8px;
  height: 8px;
}
.job-description .ellipse-26 {
  border-radius: 4px;
  background: #000000;
  width: 8px;
  height: 8px;
}
.job-description .container-23 {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
  box-sizing: border-box;
}
.job-description .vector-95 {
  width: 16px;
  height: 23px;
}
.job-description .container-13 {
  margin: 1px 0 8px 0;
  display: flex;
  flex-direction: row;
  width: 55px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container-10 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 298px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container-18 {
  position: absolute;
  top: 5px;
  right: 35px;
  width: 16px;
  height: 8px;
}
.job-description .container-7 {
  position: relative;
  margin-bottom: 7px;
  display: flex;
  width: 298px;
  box-sizing: border-box;
}
.job-description .location-3 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .job-description-3 {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .apply-by-2 {
  margin-bottom: 25px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .view-all-details-and-apply-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #BB362A;
}
.job-description .container-36 {
  box-shadow: 4.4px 4.4px 4.4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 13.2px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 87.3px;
  display: flex;
  flex-direction: column;
  padding: 27.1px 32.1px 24.1px 32.9px;
  box-sizing: border-box;
}
.job-description .job-tittle-2 {
  margin-right: 16px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .ellipse-171 {
  margin: 8px 7px 8px 0;
  width: 8px;
  height: 7px;
}
.job-description .ellipse-201 {
  border-radius: 4px;
  background: #000000;
  margin-bottom: 7px;
  width: 8px;
  height: 8px;
}
.job-description .ellipse-231 {
  border-radius: 4px;
  background: #000000;
  width: 8px;
  height: 8px;
}
.job-description .container-15 {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8px;
  box-sizing: border-box;
}
.job-description .vector-851 {
  width: 16px;
  height: 23px;
}
.job-description .container-16 {
  margin-bottom: 9px;
  display: flex;
  flex-direction: row;
  width: 55px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container-39 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 295px;
  height: fit-content;
  box-sizing: border-box;
}
.job-description .container-24 {
  position: absolute;
  top: 4px;
  right: 35px;
  width: 16px;
  height: 8px;
}
.job-description .container-28 {
  position: relative;
  margin-bottom: 7px;
  display: flex;
  width: 295px;
  box-sizing: border-box;
}
.job-description .location-2 {
  margin-bottom: 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .job-description-2 {
  margin-bottom: 44px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .apply-by-1 {
  margin-bottom: 25px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-description .view-all-details-and-apply-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #BB362A;
}
.job-description .container-31 {
  box-shadow: 4.4px 4.4px 4.4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 13.2px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 27.1px 32.5px 24.1px 35.5px;
  box-sizing: border-box;
}
.job-description .container-32 {
  margin: 0 87.5px 129.9px 81.5px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.job-description .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.job-description .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-description .container-1 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.job-description .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .container-29 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.job-description .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .container-4 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.job-description .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .container-30 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.job-description .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .container-25 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.job-description .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .container-12 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.job-description .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-description .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-description .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.job-description .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.job-description .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.job-description .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-description .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.job-description .container-22 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.job-description .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.job-description {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
