.post-ajob-2 .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.post-ajob-2 .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.post-ajob-2 .container-69 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.post-ajob-2 .container-33 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-ajob-2 .container-73 {
  background: #000000;
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.post-ajob-2 .type-of-project {
  margin: 0 1px 37px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 31px;
  color: #BB362A;
}
.post-ajob-2 .theater {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-29 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 11.5px 0.5px 0;
  display: flex;
  padding: 8.5px 0 7px 0;
  width: 133.5px;
  box-sizing: border-box;
}
.post-ajob-2 .film {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-14 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 11.5px 0.5px 0;
  display: flex;
  padding: 8.5px 0 7px 0;
  width: 94.5px;
  box-sizing: border-box;
}
.post-ajob-2 .tv-shows-web-series {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-67 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 17px 7px 17px;
  box-sizing: border-box;
}
.post-ajob-2 .commercials {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-47 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 14.6px 7px 14.6px;
  box-sizing: border-box;
}
.post-ajob-2 .live-events {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-59 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 16.1px 7px 16.1px;
  box-sizing: border-box;
}
.post-ajob-2 .music-videos {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-62 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 15px 7px 15px;
  box-sizing: border-box;
}
.post-ajob-2 .live-events-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-76 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 16.1px 7px 16.1px;
  box-sizing: border-box;
}
.post-ajob-2 .video-games {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-19 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 14.4px 7px 14.4px;
  box-sizing: border-box;
}
.post-ajob-2 .podcasts {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-72 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 0 7px 0;
  width: 135px;
  box-sizing: border-box;
}
.post-ajob-2 .container-24 {
  margin: 0 0 17px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .fashion-shows {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-12 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 17.3px 7px 17.3px;
  box-sizing: border-box;
}
.post-ajob-2 .audiobooks {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-6 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 0 7px 0;
  width: 154px;
  box-sizing: border-box;
}
.post-ajob-2 .print-ads-catalogs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-66 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 15.4px 7px 16.4px;
  box-sizing: border-box;
}
.post-ajob-2 .brand-endorsements {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-16 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 11px 7px 12px;
  box-sizing: border-box;
}
.post-ajob-2 .social-media-campaigns {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-44 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 14.7px 7px 15.7px;
  box-sizing: border-box;
}
.post-ajob-2 .other-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-71 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 0 7px 0;
  width: 122px;
  box-sizing: border-box;
}
.post-ajob-2 .container-42 {
  margin: 0 1px 40px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 12px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .type-of-organization {
  margin: 0 1px 31px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 31px;
  color: #BB362A;
}
.post-ajob-2 .theater-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-21 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 11.5px 0.5px 0;
  display: flex;
  padding: 8.5px 0 7px 0;
  width: 133.5px;
  box-sizing: border-box;
}
.post-ajob-2 .brand {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-53 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 11.5px 0.5px 0;
  display: flex;
  padding: 8.5px 0 7px 0;
  width: 94.5px;
  box-sizing: border-box;
}
.post-ajob-2 .production-house {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-5 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 11.4px 7px 11.4px;
  box-sizing: border-box;
}
.post-ajob-2 .creative-marketing-agency {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-54 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 18.5px 7px 18.5px;
  box-sizing: border-box;
}
.post-ajob-2 .studio-network {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-37 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 18.3px 7px 18.3px;
  box-sizing: border-box;
}
.post-ajob-2 .casting-office {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-49 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 12px;
  display: flex;
  padding: 9px 0 7px 0;
  width: 163px;
  box-sizing: border-box;
}
.post-ajob-2 .personal-project {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-35 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 9px 16px 7px 16px;
  box-sizing: border-box;
}
.post-ajob-2 .container-61 {
  margin: 0 111px 17px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .other {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .container-9 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 62px 1px;
  display: flex;
  align-self: flex-start;
  padding: 9px 0 7px 0;
  width: 96px;
  box-sizing: border-box;
}
.post-ajob-2 .other-details {
  margin: 0 1px 40px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 31px;
  color: #BB362A;
}
.post-ajob-2 .company-name-2 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .recruiter-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-81 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 756px;
  box-sizing: border-box;
}
.post-ajob-2 .company-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-11 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 26px;
  padding: 16px 15px 13px 15px;
  width: 625px;
  box-sizing: border-box;
}
.post-ajob-2 .recruiter {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-13 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 27px 13px 27px;
  width: 625px;
  box-sizing: border-box;
}
.post-ajob-2 .container-38 {
  margin: 0 46px 17px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .company-website-1 {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .company-website {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-27 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 25px 0;
  padding: 15px 21px 14px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .job-title {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .location {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-63 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 749.3px;
  box-sizing: border-box;
}
.post-ajob-2 .company-name-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-55 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 26px;
  padding: 16px 15px 13px 15px;
  width: 625px;
  box-sizing: border-box;
}
.post-ajob-2 .search-for-city {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-79 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 27px 13px 27px;
  width: 625px;
  box-sizing: border-box;
}
.post-ajob-2 .container-45 {
  margin: 0 46px 31px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .about-the-project-1 {
  margin: 0 6px 16px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .about-the-project {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-3 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 15px 0;
  padding: 15px 21px 87px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .job-role-1 {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .job-role {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-32 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 25px 0;
  padding: 15px 21px 87px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .start-by-1 {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .duration-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .apply-by-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-43 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 968.2px;
  box-sizing: border-box;
}
.post-ajob-2 .start-by {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-68 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 9px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .duration {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-28 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  padding: 16px 17px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.post-ajob-2 .apply-by {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-26 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 18px 13px 18px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .container-23 {
  margin: 0 46px 25px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .skills-required {
  margin: 0 6px 16px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .type-skill {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-75 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 21px 1px;
  padding: 16px 20px 13px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .skill-1 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .group-51 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.post-ajob-2 .container-60 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.post-ajob-2 .skill-2 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .group-52 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.post-ajob-2 .container-17 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.post-ajob-2 .skill-3 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .group-53 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.post-ajob-2 .container-25 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.post-ajob-2 .container-64 {
  margin: 0 1px 21px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 15px;
  width: 351px;
  box-sizing: border-box;
}
.post-ajob-2 .compensationin-rs {
  margin: 0 6px 16px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .compensation {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-39 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 20px 13px 20px;
  width: 371px;
  box-sizing: border-box;
}
.post-ajob-2 .day {
  margin-right: 13.5px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.post-ajob-2 .vector-195 {
  margin: 9px 0 6px 0;
  width: 24px;
  height: 12px;
}
.post-ajob-2 .container-77 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16px 13px 0;
  width: 139px;
  box-sizing: border-box;
}
.post-ajob-2 .container-36 {
  margin: 0 1px 14px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .rectangle-227 {
  border: 1px solid #FFFFFF;
  margin: 0 3px 1px 0;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .do-not-show-this-in-job-post {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob-2 .container-10 {
  margin: 0 6px 24px 6px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .other-facilities-1 {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .other-facilities {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-30 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 30px 0;
  padding: 15px 21px 87px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .agein-years {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .gender {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .ethnicity {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-50 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 968.3px;
  box-sizing: border-box;
}
.post-ajob-2 .age {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-74 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 9px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .choose-gender {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-1 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-34 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.post-ajob-2 .choose-ethnicity {
  margin-right: 12px;
  width: 170px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-2 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-80 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px 13px 18px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .container-4 {
  margin: 0 46px 27px 1px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .height {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .weight {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .body-type {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-18 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 985.8px;
  box-sizing: border-box;
}
.post-ajob-2 .age-1 {
  margin-right: 12px;
  width: 129px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-5 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-78 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 25px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .choose-gender-1 {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-3 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-40 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.post-ajob-2 .choose-body-type {
  margin-right: 12px;
  width: 237px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-4 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-1 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px 13px 18px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .container-58 {
  margin: 0 46px 35px 1px;
  display: flex;
  flex-direction: row;
  width: 1276px;
  box-sizing: border-box;
}
.post-ajob-2 .hair-color {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .eye-color {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .container-31 {
  margin: 0 1px 16px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 540.3px;
  box-sizing: border-box;
}
.post-ajob-2 .age-2 {
  margin-right: 12px;
  width: 129px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-7 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container-2 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 25px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.post-ajob-2 .choose-gender-2 {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .polygon-6 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.post-ajob-2 .container {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.post-ajob-2 .container-48 {
  margin: 0 1px 30px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 842px;
  box-sizing: border-box;
}
.post-ajob-2 .language-required {
  margin: 0 6px 16px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .type-language {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.post-ajob-2 .container-22 {
  border-radius: 10px;
  border: 0.5px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 46px 21px 1px;
  padding: 16px 20px 13px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .language-1 {
  margin-right: 8.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .group-54 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.post-ajob-2 .container-70 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  padding: 9px 6px 7px 8px;
  box-sizing: border-box;
}
.post-ajob-2 .language-2 {
  margin-right: 7.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.post-ajob-2 .group-55 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.post-ajob-2 .container-41 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 7px 7px 6px;
  box-sizing: border-box;
}
.post-ajob-2 .container-65 {
  margin: 0 1px 165px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .post-job {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .group-72 {
  border-radius: 10px;
  background: #BB362A;
  position: relative;
  margin: 0 71px 0 7px;
  display: flex;
  padding: 13px 0;
  width: 1245px;
  box-sizing: border-box;
}
.post-ajob-2 .container-15 {
  border-radius: 24px;
  background: linear-gradient(270deg, #545557, #030812);
  position: relative;
  margin: 0 23px 142px 24px;
  display: flex;
  flex-direction: column;
  padding: 35px 12px 53px 58px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.post-ajob-2 .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob-2 .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob-2 .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob-2 .container-51 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.post-ajob-2 .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .container-20 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.post-ajob-2 .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .container-7 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.post-ajob-2 .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .container-56 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.post-ajob-2 .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .container-57 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.post-ajob-2 .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .container-52 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.post-ajob-2 .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob-2 .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob-2 .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.post-ajob-2 .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.post-ajob-2 .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.post-ajob-2 .container-46 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-ajob-2 .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.post-ajob-2 .container-8 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.post-ajob-2 .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob-2 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
