.profile-recruiter-archived .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.profile-recruiter-archived .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-28 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-20 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-2 {
  background: #000000;
  position: relative;
  margin-bottom: 84px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.profile-recruiter-archived .jobs-posted {
  margin: 0 96.9px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-archived .hired {
  margin: 0 175.9px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-archived .draft {
  margin: 0 181.6px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-archived .archived {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-10 {
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  position: relative;
  margin: 0 0 27px 33px;
  padding: 12px 31px 13px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived .your-profile {
  margin: 0 104.5px 19px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-archived .vector-221 {
  background: #FFFFFF;
  margin: 0 2px;
  align-self: flex-end;
  width: 0px;
  height: 56px;
}
.profile-recruiter-archived .container-1 {
  box-shadow: 4px 0px 8px 0px rgba(187, 54, 42, 0.15);
  background: #FFFFFF;
  position: relative;
  margin: 0 58px 164px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 826px 0;
  box-sizing: border-box;
}
.profile-recruiter-archived .analytics {
  margin: 0 6px 70px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-archived .container {
  margin: 0 1px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-archived .applied-for-the-jobs-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-21 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-archived .people-shortlisted-your-job {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-18 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 25px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-2 {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-archived .people-shared-the-job-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-25 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-24 {
  margin: 0 0 42px 1px;
  display: flex;
  flex-direction: row;
  width: 979px;
  box-sizing: border-box;
}
.profile-recruiter-archived .music-video-kid {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-archived .delhi {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-archived .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline {
  margin-bottom: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-archived .apply-by-1-st-may-20-xx {
  margin-bottom: 24px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-may-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-archived .delete {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-29 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-top: 5px;
  display: flex;
  padding: 6px 18.9px 7px 19.9px;
  box-sizing: border-box;
}
.profile-recruiter-archived .repost {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .group-93 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-17 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 9px 0 11px 1px;
  width: 132.8px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-13 {
  margin-right: 35.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 884.4px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-26 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 35px 0;
  display: flex;
  flex-direction: column;
  padding: 17px 18.2px 30px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived .music-video-kid-1 {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-archived .delhi-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-archived .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline-1 {
  margin-bottom: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-may-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-archived .apply-by-1-st-may-20-xx-1 {
  margin-bottom: 24px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-archived .delete-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-7 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-top: 5px;
  display: flex;
  padding: 6px 18.9px 7px 19.9px;
  box-sizing: border-box;
}
.profile-recruiter-archived .repost-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .group-94 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-16 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 9px 0 11px 1px;
  width: 132.8px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-14 {
  margin-right: 35.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 884.4px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-4 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 35px 0;
  display: flex;
  flex-direction: column;
  padding: 17px 18.2px 30px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived .music-video-kid-2 {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-archived .delhi-2 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-archived .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline-2 {
  margin-bottom: 29px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-archived .apply-by-1-st-may-20-xx-2 {
  margin-bottom: 24px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-may-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-archived .delete-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-top: 5px;
  display: flex;
  padding: 6px 18.9px 7px 19.9px;
  box-sizing: border-box;
}
.profile-recruiter-archived .repost-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-archived .group-95 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-12 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 9px 0 11px 1px;
  width: 132.8px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-30 {
  margin-right: 35.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 884.4px;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-19 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-left: 1px;
  display: flex;
  flex-direction: column;
  padding: 17px 18.2px 30px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-22 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.profile-recruiter-archived .container-6 {
  margin: 0 60px 333px 0;
  display: flex;
  flex-direction: row;
  width: 1408px;
  box-sizing: border-box;
}
.profile-recruiter-archived .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.profile-recruiter-archived .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-archived .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-archived .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-archived .container-27 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.profile-recruiter-archived .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-3 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.profile-recruiter-archived .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-9 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.profile-recruiter-archived .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-23 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.profile-recruiter-archived .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container-8 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.profile-recruiter-archived .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .container {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.profile-recruiter-archived .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-archived .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-archived .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.profile-recruiter-archived .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.profile-recruiter-archived .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.profile-recruiter-archived .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-archived .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.profile-recruiter-archived .container-15 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.profile-recruiter-archived .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-archived {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
