.profile-recruiter-draft .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.profile-recruiter-draft .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-7 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-22 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-19 {
  background: #000000;
  position: relative;
  margin-bottom: 86px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.profile-recruiter-draft .jobs-posted {
  margin: 0 129.9px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-draft .hired {
  margin: 0 208.9px 28px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-draft .draft {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-13 {
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  position: relative;
  margin-bottom: 27px;
  padding: 12px 31px 13px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .archived {
  margin: 0 169px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-draft .your-profile {
  margin-right: 137.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-draft .container-20 {
  box-shadow: 4px 0px 8px 0px rgba(187, 54, 42, 0.15);
  background: #FFFFFF;
  position: relative;
  margin-right: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 901px 33px;
  width: 370px;
  box-sizing: border-box;
}
.profile-recruiter-draft .analytics {
  margin: 0 5px 68px 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-draft .container {
  margin: 0 1px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-draft .applied-for-the-jobs-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-24 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-1 {
  margin: 0 0 7px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-draft .people-shortlisted-your-job {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-12 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-2 {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-draft .people-shared-the-job-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0 19px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container {
  margin-bottom: 44px;
  display: flex;
  flex-direction: row;
  width: 979px;
  box-sizing: border-box;
}
.profile-recruiter-draft .music-video-kid {
  margin-right: 22px;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-draft .ellipse-29 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-30 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-31 {
  border-radius: 2.5px;
  background: #BB362A;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .container-5 {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-4 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 898px;
  box-sizing: border-box;
}
.profile-recruiter-draft .delhi {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-draft .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline {
  margin: 0 26.8px 34px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-draft .applied-by-1-st-may-20-xx {
  margin: 19px 13.5px 0 0;
  width: 356px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-by-1-st-may-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-draft .post {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .group-90 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-29 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-bottom: 6px;
  display: flex;
  padding: 9px 0 11px 0;
  width: 132.8px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-2 {
  margin-right: 0.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 897.8px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-28 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  padding: 16px 40px 24px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .music-video-kid-1 {
  margin-right: 22px;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-draft .ellipse-32 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-33 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-34 {
  border-radius: 2.5px;
  background: #BB362A;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .container-3 {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-32 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 898px;
  box-sizing: border-box;
}
.profile-recruiter-draft .delhi-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-draft .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline-1 {
  margin: 0 26.8px 34px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-draft .applied-by-1-st-may-20-xx-1 {
  margin: 19px 13.5px 0 0;
  width: 356px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-by-1-st-may-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-draft .post-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .group-91 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-34 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-bottom: 6px;
  display: flex;
  padding: 9px 0 11px 0;
  width: 132.8px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-15 {
  margin-right: 0.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 897.8px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-26 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 22px;
  display: flex;
  flex-direction: column;
  padding: 16px 40px 24px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .music-video-kid-2 {
  margin-right: 22px;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-recruiter-draft .ellipse-35 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-36 {
  border-radius: 2.5px;
  background: #BB362A;
  margin-bottom: 1.5px;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .ellipse-37 {
  border-radius: 2.5px;
  background: #BB362A;
  width: 5px;
  height: 5px;
}
.profile-recruiter-draft .container-18 {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-9 {
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 898px;
  box-sizing: border-box;
}
.profile-recruiter-draft .delhi-2 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-draft .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline-2 {
  margin: 0 26.8px 34px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-draft .applied-by-1-st-may-20-xx-2 {
  margin: 19px 13.5px 0 0;
  width: 356px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-by-1-st-may-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-draft .post-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-draft .group-92 {
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-16 {
  box-shadow: 0px 3.2px 3.2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-bottom: 6px;
  display: flex;
  padding: 9px 0 11px 0;
  width: 132.8px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-17 {
  margin-right: 0.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 897.8px;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-14 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px 40px 24px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-31 {
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.profile-recruiter-draft .container-30 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-draft .vector-221 {
  background: #FFFFFF;
  position: absolute;
  left: 365px;
  top: 267px;
  width: 0px;
  height: 56px;
}
.profile-recruiter-draft .container-23 {
  position: relative;
  margin: 0 60px 495px 0;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-draft .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.profile-recruiter-draft .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-draft .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-draft .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-draft .container-33 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.profile-recruiter-draft .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-21 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.profile-recruiter-draft .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-25 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.profile-recruiter-draft .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-1 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.profile-recruiter-draft .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-27 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.profile-recruiter-draft .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .container-8 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.profile-recruiter-draft .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-draft .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-draft .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.profile-recruiter-draft .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.profile-recruiter-draft .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.profile-recruiter-draft .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-draft .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.profile-recruiter-draft .container-10 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.profile-recruiter-draft .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-draft {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
