.profile-page-artist .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.profile-page-artist .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-page-artist .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-page-artist .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-page-artist .container-15 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.profile-page-artist .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-page-artist .container-25 {
  background: #000000;
  position: relative;
  margin-bottom: 91px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.profile-page-artist .applied {
  margin: 0 183.5px 41px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-page-artist .in-progress {
  margin: 0 142.4px 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-page-artist .completed {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-page-artist .container-11 {
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  position: relative;
  margin-bottom: 27px;
  padding: 12px 31px 13px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-page-artist .your-profile {
  margin-right: 139.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-page-artist .container-12 {
  box-shadow: 4px 0px 8px 0px rgba(187, 54, 42, 0.15);
  background: #FFFFFF;
  position: relative;
  margin: 0 60px 67px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 970px 31px;
  width: 370px;
  box-sizing: border-box;
}
.profile-page-artist .analytics {
  margin: 0 4px 63px 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  color: #BB362A;
}
.profile-page-artist .container {
  margin: 0 1px 7.3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-page-artist .people-viewed-your-profile {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-page-artist .container-20 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 49.7px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-page-artist .container-1 {
  margin: 0 0 7.3px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-page-artist .people-shortlisted-your-profile {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-page-artist .container-18 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 20.7px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-page-artist .container-2 {
  margin-bottom: 7.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-page-artist .people-shared-your-profile {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-page-artist .container-14 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 49.7px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-page-artist .container-19 {
  margin: 0 0 32px 4px;
  display: flex;
  flex-direction: row;
  width: 979px;
  box-sizing: border-box;
}
.profile-page-artist .jobs-completed {
  margin: 0 4px 12px 4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-page-artist .tv-commercial {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-page-artist .delhi {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-page-artist .seeking-acharismatic-child-actor-for-atv-commercial-must-deliver-lines-naturally-and-convey-emotions-convincingly-on-camera {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-page-artist .applied-on-1-st-jan-20-xx {
  margin: 7px 13.5px 10px 0;
  width: 310px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-on-1-st-jan-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-page-artist .completed-on-1-st-mar-20-xx {
  margin: 7px 0 10px 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.completed-on-1-st-mar-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-page-artist .see-job-details {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.profile-page-artist .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  padding: 11px 16.4px 9px 16.4px;
  width: 190px;
  box-sizing: border-box;
}
.profile-page-artist .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.profile-page-artist .group-115 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 4px 38px 0;
  display: flex;
  flex-direction: column;
  padding: 32px 19px 19px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-page-artist .model-for-shoe-brand {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-page-artist .mumbai {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-page-artist .searching-for-an-energetic-child-model-for-ashoe-brand-photoshoot-must-pose-confidently-and-highlight-the-footwear {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-page-artist .applied-on-1-st-jan-20-xx-1 {
  margin: 7px 13.5px 10px 0;
  width: 310px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-on-1-st-jan-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-page-artist .completed-on-1-st-mar-20-xx-1 {
  margin: 7px 0 10px 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.completed-on-1-st-mar-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-page-artist .see-job-details-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.profile-page-artist .container-16 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  padding: 11px 16.4px 9px 16.4px;
  width: 190px;
  box-sizing: border-box;
}
.profile-page-artist .container-24 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.profile-page-artist .group-116 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 4px 41px 0;
  display: flex;
  flex-direction: column;
  padding: 32px 19px 19px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-page-artist .music-video-kid {
  margin-bottom: 11px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.profile-page-artist .delhi-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-page-artist .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-page-artist .applied-on-1-st-jan-20-xx-2 {
  margin: 7px 13.5px 10px 0;
  width: 310px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.applied-on-1-st-jan-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.completed-on-1-st-mar-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-page-artist .completed-on-1-st-mar-20-xx-2 {
  margin: 7px 0 10px 0;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.profile-page-artist .see-job-details-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.profile-page-artist .container-22 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  padding: 11px 16.4px 9px 16.4px;
  width: 190px;
  box-sizing: border-box;
}
.profile-page-artist .container-7 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 919px;
  box-sizing: border-box;
}
.profile-page-artist .group-117 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 4px;
  display: flex;
  flex-direction: column;
  padding: 32px 19px 19px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-page-artist .container-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.profile-page-artist .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-page-artist .vector-221 {
  background: #FFFFFF;
  position: absolute;
  left: 365px;
  top: 262px;
  width: 0px;
  height: 56px;
}
.profile-page-artist .container-21 {
  position: relative;
  margin: 0 60px 160px 0;
  display: flex;
  box-sizing: border-box;
}
.profile-page-artist .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.profile-page-artist .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-page-artist .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-page-artist .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-page-artist .container-8 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.profile-page-artist .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .container-6 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.profile-page-artist .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .container-23 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.profile-page-artist .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .container-9 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.profile-page-artist .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .container-10 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.profile-page-artist .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .container-3 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.profile-page-artist .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-page-artist .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-page-artist .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.profile-page-artist .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.profile-page-artist .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.profile-page-artist .container-13 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-page-artist .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.profile-page-artist .container-1 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.profile-page-artist .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-page-artist {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
