.profile-recruiter-hired .group-103 {
  position: absolute;
  top: 622px;
  right: 100.2px;
  width: 72.8px;
  height: 30.4px;
}
.profile-recruiter-hired .group-105 {
  position: absolute;
  top: 975px;
  right: 100.2px;
  width: 72.8px;
  height: 30.4px;
}
.profile-recruiter-hired .group-106 {
  position: absolute;
  top: 1330px;
  right: 100.2px;
  width: 72.8px;
  height: 30.4px;
}
.profile-recruiter-hired .rectangle-181 {
  border-radius: 9.6px;
  background: #BB362A;
  position: absolute;
  top: 618px;
  right: 569.8px;
  width: 94.2px;
  height: 21px;
}
.profile-recruiter-hired .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.profile-recruiter-hired .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-hired .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-13 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-27 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-2 {
  background: #000000;
  position: relative;
  margin: 0 0 85px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.profile-recruiter-hired .jobs-posted {
  margin: 0 129.9px 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-hired .hired {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-18 {
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  position: relative;
  margin-bottom: 28px;
  padding: 13px 31px 12px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .draft {
  margin: 0 214.6px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-hired .archived {
  margin: 0 169px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-hired .your-profile {
  margin-right: 137.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-hired .container-25 {
  box-shadow: 4px 0px 8px 0px rgba(187, 54, 42, 0.15);
  background: #FFFFFF;
  position: relative;
  margin: 0 57px 227px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 901px 33px;
  width: 370px;
  box-sizing: border-box;
}
.profile-recruiter-hired .analytics {
  margin: 0 14px 69px 14px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-hired .container {
  margin: 0 1px 7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-hired .applied-for-the-jobs-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-12 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 20px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-1 {
  margin: 0 0 7px 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-hired .people-shortlisted-your-job {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-23 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  margin-right: 76px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 20px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-2 {
  margin-bottom: 7px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.profile-recruiter-hired .people-shared-the-job-you-posted {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-6 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border: 0.4px solid #000000;
  background: linear-gradient(180deg, #555658, #959596);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0 20px 0;
  width: 276px;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-29 {
  margin: 0 0 28px 9px;
  display: flex;
  flex-direction: row;
  width: 979px;
  box-sizing: border-box;
}
.profile-recruiter-hired .ellipse-13 {
  border-radius: 7.5px;
  margin: 0 13px 6px 0;
  width: 15px;
  height: 15px;
}
.profile-recruiter-hired .search {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
.profile-recruiter-hired .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-hired .vector-177 {
  position: absolute;
  left: 21px;
  bottom: 11.5px;
  width: 7.5px;
  height: 7.5px;
}
.profile-recruiter-hired .container-8 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 46px 0;
  padding: 11px 8px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .model-2 {
  margin: 0 461.9px 23.6px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.profile-recruiter-hired .nikki {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.profile-recruiter-hired .bangalore {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.yrs-sub10 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.yrs {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .yrs {
  margin-right: 13.5px;
  width: 62px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-hired .cm {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.cm {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .kg {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.kg {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .female {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-hired .group-104 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 438px;
  box-sizing: border-box;
}
.profile-recruiter-hired .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.profile-recruiter-hired .group-102 {
  margin-bottom: 7px;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-hired .view-full-profile-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.profile-recruiter-hired .container-1 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: relative;
  margin: 0 2px 27px 2px;
  display: flex;
  flex-direction: column;
  padding: 22.4px 45.3px 20px 50px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .actor {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-26 {
  border-radius: 9.6px;
  background: #BB362A;
  position: relative;
  margin-right: 7.8px;
  display: flex;
  padding: 2.4px 0 2.6px 0.6px;
  width: 94.2px;
  box-sizing: border-box;
}
.profile-recruiter-hired .model {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-3 {
  border-radius: 9.6px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 2.4px 0 2.6px 0.6px;
  width: 94.2px;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-24 {
  margin: 0 0.4px 21px 0.4px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 196.2px;
  box-sizing: border-box;
}
.profile-recruiter-hired .kabir {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.profile-recruiter-hired .mumbai-maharashtra {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.yrs-1 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .yrs-1 {
  margin-right: 13.5px;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-1-sub10 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-hired .cm-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-1-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.cm-1 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .kg-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-1-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.kg-1 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .male {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-hired .group-92 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 403px;
  box-sizing: border-box;
}
.profile-recruiter-hired .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.profile-recruiter-hired .group-31 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-hired .view-full-profile {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.profile-recruiter-hired .container-19 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: relative;
  margin: 0 2px 29px 2px;
  display: flex;
  flex-direction: column;
  padding: 22px 45.3px 18px 50px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .model-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container {
  border-radius: 9.6px;
  background: #BB362A;
  position: relative;
  margin-bottom: 21px;
  display: flex;
  align-self: flex-start;
  padding: 2.4px 0 2.6px 0.6px;
  width: 94.2px;
  box-sizing: border-box;
}
.profile-recruiter-hired .aditi {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.profile-recruiter-hired .mumbai-maharashtra-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.yrs-2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .yrs-2 {
  margin-right: 13.5px;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-2-sub10 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.profile-recruiter-hired .cm-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-2-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.cm-2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .kg-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-2-sub9 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
}
.kg-2 {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  line-height: 1.333;
}
.profile-recruiter-hired .female-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-hired .group-95 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 438px;
  box-sizing: border-box;
}
.profile-recruiter-hired .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.profile-recruiter-hired .group-93 {
  margin-bottom: 13px;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-hired .view-full-profile-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.profile-recruiter-hired .container-15 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: relative;
  margin: 0 2px;
  display: flex;
  flex-direction: column;
  padding: 23px 45.3px 17px 50px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-21 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-hired .vector-221 {
  background: #FFFFFF;
  position: absolute;
  left: 365px;
  top: 198px;
  width: 0px;
  height: 56px;
}
.profile-recruiter-hired .scarf-333904919201 {
  background: url('../assets/images/scarf_333904919202.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 417px;
  bottom: 354px;
  width: 356.2px;
  height: 326px;
}
.profile-recruiter-hired .girl-650945519201 {
  background: url('../assets/images/girl_650945519201.jpeg');
  position: absolute;
  left: 426px;
  top: 413px;
  width: 354.1px;
  height: 326px;
}
.profile-recruiter-hired .container-10 {
  position: relative;
  margin: 0 60px 269px 0;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-hired .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.profile-recruiter-hired .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-hired .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-hired .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-hired .container-17 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.profile-recruiter-hired .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-28 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.profile-recruiter-hired .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-7 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.profile-recruiter-hired .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-9 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.profile-recruiter-hired .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-4 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.profile-recruiter-hired .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .container-22 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.profile-recruiter-hired .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-hired .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-hired .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.profile-recruiter-hired .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.profile-recruiter-hired .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.profile-recruiter-hired .container-20 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-hired .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.profile-recruiter-hired .container-5 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.profile-recruiter-hired .group-131 {
  background: #000000;
  position: relative;
  margin-left: 35px;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1475px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-hired .girl-51188312802 {
  background: url('../assets/images/girl_51188312802.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 382px;
  bottom: 858px;
  width: 354px;
  height: 326px;
}
.profile-recruiter-hired {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
