.profile-recruiter-profile .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.profile-recruiter-profile .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.profile-recruiter-profile .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-4 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-33 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-43 {
  background: #000000;
  position: relative;
  margin-bottom: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.profile-recruiter-profile .jobs-posted {
  margin: 0 129.9px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-profile .hired {
  margin: 0 208.9px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-profile .draft {
  margin: 0 214.6px 40px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-profile .archived {
  margin: 0 169px 27px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.profile-recruiter-profile .your-profile {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-11 {
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  position: relative;
  padding: 13px 31px 12px 31px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-15 {
  box-shadow: 4px 0px 8px 0px rgba(187, 54, 42, 0.15);
  background: #FFFFFF;
  position: relative;
  margin: 0 47px 183px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px 0 889px 33px;
  width: 370px;
  box-sizing: border-box;
}
.profile-recruiter-profile .personal-details {
  margin-bottom: 43px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 34px;
  color: #BB362A;
}
.profile-recruiter-profile .first-name-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .last-name-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .container-31 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 640px;
  box-sizing: border-box;
}
.profile-recruiter-profile .first-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-45 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 24px;
  padding: 16px 15px 13px 15px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .last-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-8 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 22px 13px 22px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-19 {
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .gender-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .date-of-birth {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .container-3 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 668.3px;
  box-sizing: border-box;
}
.profile-recruiter-profile .gender {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-26 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 31px;
  padding: 16px 15px 13px 15px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .dd {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-6 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.profile-recruiter-profile .mm {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-16 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.profile-recruiter-profile .yyyy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-21 {
  margin: 0 90px 33px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .contact-number-1 {
  margin: 1px 13.5px 0 0;
  display: inline-block;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .alternate-contact-number-1 {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .container-22 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 817.7px;
  box-sizing: border-box;
}
.profile-recruiter-profile .contact-number {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-40 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 24px;
  padding: 16px 15px 13px 15px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .alternate-contact-number {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-10 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 14px 27px 15px 27px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-32 {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .email-id-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .email-id {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-2 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 30px;
  align-self: flex-start;
  padding: 16px 15px 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .address-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .address {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-30 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 15px;
  padding: 16px 15px 66px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .city-1 {
  margin: 2px 13.5px 0 0;
  display: inline-block;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .state-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .container-23 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 587.1px;
  box-sizing: border-box;
}
.profile-recruiter-profile .city {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-7 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 24px;
  padding: 16px 15px 13px 15px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .state {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-28 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 14px 31px 15px 31px;
  width: 494px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-25 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-name-1 {
  margin: 0 1px 16px 1px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .company-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-24 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 17px 1px;
  align-self: flex-start;
  padding: 16px 15px 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-website-url {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .company-website {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-14 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 42px;
  padding: 15px 21px 14px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-contact-number-1 {
  margin-right: 13.5px;
  width: 312px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .company-email-id-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .container-34 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 736.9px;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-contact-number {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-13 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 34px;
  padding: 16px 15px 13px 15px;
  width: 489px;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-email-id {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-17 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 21px 13px 21px;
  width: 489px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-35 {
  margin-bottom: 28px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .company-address-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #000000;
}
.profile-recruiter-profile .company-address {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.profile-recruiter-profile .container-9 {
  border-radius: 10px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  padding: 16px 15px 66px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .group-123 {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-41 {
  display: flex;
  flex-direction: column;
  width: 1012px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-12 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-profile .vector-221 {
  background: #FFFFFF;
  position: absolute;
  left: 365px;
  top: 419px;
  width: 0px;
  height: 56px;
}
.profile-recruiter-profile .container-42 {
  position: relative;
  margin: 0 46px 12px 0;
  display: flex;
  box-sizing: border-box;
}
.profile-recruiter-profile .see-uploaded-documents {
  margin: 0 383.1px 62px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-profile .save-details {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-44 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-right: 13px;
  display: flex;
  padding: 10px 0 5px 0;
  width: 198px;
  box-sizing: border-box;
}
.profile-recruiter-profile .update-documents {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-18 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 10px 18px 5px 18px;
  box-sizing: border-box;
}
.profile-recruiter-profile .container-36 {
  margin: 0 191px 182px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.profile-recruiter-profile .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-profile .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-profile .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.profile-recruiter-profile .container-38 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.profile-recruiter-profile .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-29 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.profile-recruiter-profile .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-1 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.profile-recruiter-profile .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-20 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.profile-recruiter-profile .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-5 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.profile-recruiter-profile .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .container-27 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.profile-recruiter-profile .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.profile-recruiter-profile .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.profile-recruiter-profile .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.profile-recruiter-profile .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.profile-recruiter-profile .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.profile-recruiter-profile .container-39 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.profile-recruiter-profile .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.profile-recruiter-profile .container-37 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.profile-recruiter-profile .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.profile-recruiter-profile {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  box-sizing: border-box;
}
