.shortlist-recruiter .group-33 {
  position: absolute;
  top: 291.3px;
  right: 93.1px;
  width: 72.8px;
  height: 30.4px;
}
.shortlist-recruiter .group-35 {
  position: absolute;
  top: 647.8px;
  right: 93.1px;
  width: 72.8px;
  height: 30.4px;
}
.shortlist-recruiter .rectangle-155 {
  border-radius: 9.6px;
  background: #BB362A;
  position: absolute;
  left: 441.4px;
  top: 279px;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .rectangle-174 {
  border-radius: 9.6px;
  background: #BB362A;
  position: absolute;
  left: 441px;
  top: 636px;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.shortlist-recruiter .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-recruiter .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-recruiter .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-14 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.shortlist-recruiter .container {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.shortlist-recruiter .container-9 {
  background: #000000;
  position: relative;
  margin-bottom: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.shortlist-recruiter .shortlisted {
  margin: 0 49px 35px 49px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 40px;
  color: #BB362A;
}
.shortlist-recruiter .rectangle-153 {
  background: #D9D9D9;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 354px;
  height: 326px;
}
.shortlist-recruiter .actor {
  margin-right: 8px;
  width: 44.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .model {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-16 {
  margin: 0 28px 23.6px 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 142.8px;
  box-sizing: border-box;
}
.shortlist-recruiter .kabir {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.shortlist-recruiter .mumbai-maharashtra {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-recruiter .yrs {
  margin-right: 13.5px;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-sub11 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.yrs {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .cm {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.cm {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.kg-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.kg {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .kg {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .male {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .group-92 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 403px;
  box-sizing: border-box;
}
.shortlist-recruiter .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.shortlist-recruiter .group-31 {
  margin-bottom: 31px;
  display: flex;
  box-sizing: border-box;
}
.shortlist-recruiter .view-full-profile {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-recruiter .container-19 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22.4px 39.4px 20px 50px;
  box-sizing: border-box;
}
.shortlist-recruiter .rectangle-156 {
  border-radius: 9.6px;
  background: #BB362A;
  position: absolute;
  left: 494.4px;
  top: 20px;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .scarf-333904919201 {
  background: url('../assets/images/scarf_333904919202.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 354px;
  height: 324px;
}
.shortlist-recruiter .container-13 {
  position: relative;
  margin: 0 49px 30.5px 49px;
  display: flex;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-recruiter .rectangle-157 {
  background: #D9D9D9;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 354px;
  height: 326px;
}
.shortlist-recruiter .model-1 {
  margin: 0 26.4px 23.6px 26.4px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .aditi {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.shortlist-recruiter .mumbai-maharashtra-1 {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-recruiter .yrs-1 {
  margin-right: 13.5px;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-1-sub11 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.yrs-1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .cm-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-1-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.cm-1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.kg-1 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .kg-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-1-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .female {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .group-95 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 438px;
  box-sizing: border-box;
}
.shortlist-recruiter .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.shortlist-recruiter .group-93 {
  margin-bottom: 31px;
  display: flex;
  box-sizing: border-box;
}
.shortlist-recruiter .view-full-profile-1 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-recruiter .container-17 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 22.4px 39.4px 20px 50px;
  box-sizing: border-box;
}
.shortlist-recruiter .container-2 {
  position: relative;
  margin: 0 49px 65px 49px;
  display: flex;
  padding-top: 0.5px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-recruiter .browse-similar-artists {
  margin-bottom: 50px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-recruiter .rectangle-178 {
  border-radius: 9.6px;
  background: #BB362A;
  margin-right: 7.8px;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .rectangle-179 {
  border-radius: 9.6px;
  background: #BB362A;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .container-22 {
  margin: 0 370px 117px 0;
  display: flex;
  flex-direction: row;
  width: 196.2px;
  box-sizing: border-box;
}
.shortlist-recruiter .female-1 {
  margin: 0 0 192px 212.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .rectangle-181 {
  border-radius: 9.6px;
  background: linear-gradient(90deg, #BB362A, #FFFFFF);
  margin: 0 472.8px 117px 0;
  width: 94.2px;
  height: 21px;
}
.shortlist-recruiter .yrs-3 {
  margin-right: 13.5px;
  width: 62px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-3-sub11 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.yrs-3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .cm-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-3-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.cm-3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .kg-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-3-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.kg-3 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .female-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .group-104 {
  margin: 0 135.9px 163px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 438px;
  box-sizing: border-box;
}
.shortlist-recruiter .see-all {
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-recruiter .group-70 {
  margin: 0 59px 80px 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-recruiter .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.shortlist-recruiter .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-recruiter .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-recruiter .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-recruiter .container-11 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.shortlist-recruiter .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-8 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.shortlist-recruiter .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-7 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.shortlist-recruiter .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-1 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.shortlist-recruiter .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-3 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.shortlist-recruiter .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .container-21 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.shortlist-recruiter .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-recruiter .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-recruiter .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.shortlist-recruiter .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.shortlist-recruiter .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.shortlist-recruiter .container-18 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.shortlist-recruiter .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.shortlist-recruiter .container-23 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.shortlist-recruiter .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-recruiter .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.shortlist-recruiter .girl-51188312802 {
  background: url('../assets/images/girl_51188312802.jpeg') 50% / cover no-repeat;
  position: absolute;
  left: 49px;
  top: 615px;
  width: 354px;
  height: 326px;
}
.shortlist-recruiter .rectangle-165 {
  background: #D9D9D9;
  position: absolute;
  left: 50px;
  top: 1069.5px;
  width: 354px;
  height: 326px;
}
.shortlist-recruiter .actor-1 {
  margin: 0 8px 23.8px 0;
  display: inline-block;
  width: 44.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .model-2 {
  margin-bottom: 23.8px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .group-100 {
  margin-top: 9.4px;
  width: 72.8px;
  height: 30.4px;
}
.shortlist-recruiter .container-5 {
  margin: 0 4.7px 0 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 877.9px;
  box-sizing: border-box;
}
.shortlist-recruiter .anushka {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.shortlist-recruiter .jaipur-rajasthan {
  margin-bottom: 24px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.yrs-2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .yrs-2 {
  margin-right: 13.5px;
  width: 55px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.yrs-2-sub11 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.cm-2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .cm-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.cm-2-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.kg-2 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .kg-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.kg-2-sub10 {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  line-height: 1.333;
}
.shortlist-recruiter .container-6 {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 299.5px;
  box-sizing: border-box;
}
.shortlist-recruiter .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.shortlist-recruiter .group-99 {
  margin-bottom: 31px;
  display: flex;
  box-sizing: border-box;
}
.shortlist-recruiter .view-full-profile-2 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-recruiter .container-10 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: absolute;
  top: 1069px;
  right: 56px;
  display: flex;
  flex-direction: column;
  padding: 22.4px 39.4px 20px 50px;
  box-sizing: border-box;
}
.shortlist-recruiter .model-3 {
  margin: 0 8px 23.8px 0;
  display: inline-block;
  width: 44.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #FFFFFF;
}
.shortlist-recruiter .group-103 {
  margin-top: 9.4px;
  width: 72.8px;
  height: 30.4px;
}
.shortlist-recruiter .container-12 {
  margin: 0 4.7px 0 26.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 879.5px;
  box-sizing: border-box;
}
.shortlist-recruiter .nikki {
  margin-bottom: 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 30px;
  color: #BB362A;
}
.shortlist-recruiter .bangalore {
  margin-bottom: 71px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-recruiter .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-do-eiusmod-tempor-incididunt-ut-labore-et-dolore-magna-aliqua-ut-enim-ad-minim-veniam-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.shortlist-recruiter .group-102 {
  margin-bottom: 31px;
  display: flex;
  box-sizing: border-box;
}
.shortlist-recruiter .view-full-profile-3 {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-recruiter .container-15 {
  border-radius: 15px;
  border: 0.5px solid #555658;
  position: absolute;
  right: 56px;
  bottom: 721px;
  display: flex;
  flex-direction: column;
  padding: 22.4px 39.4px 20px 50px;
  box-sizing: border-box;
}
.shortlist-recruiter .container-20 {
  position: absolute;
  left: 51px;
  top: 1069px;
  width: 351.5px;
  height: 325.5px;
}
.shortlist-recruiter .kid-662028319201 {
  background: url('../assets/images/kid_662028319201.jpeg');
  position: absolute;
  left: 50px;
  top: 1069px;
  width: 353px;
  height: 327px;
}
.shortlist-recruiter .girl-650945519201 {
  background: url('../assets/images/girl_650945519201.jpeg');
  position: absolute;
  left: 49px;
  bottom: 722px;
  width: 354px;
  height: 326px;
}
.shortlist-recruiter {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
