.shortlist-artist .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.shortlist-artist .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.shortlist-artist .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.shortlist-artist .container-33 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.shortlist-artist .container-16 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.shortlist-artist .container-25 {
  background: #000000;
  position: relative;
  margin-bottom: 81px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.shortlist-artist .shortlisted-jobs {
  margin: 0 40px 48px 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 40px;
  color: #BB362A;
}
.shortlist-artist .toy-advertisement {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.shortlist-artist .ellipse-33 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.shortlist-artist .ellipse-43 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.shortlist-artist .ellipse-53 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.shortlist-artist .container-1 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.shortlist-artist .vector-713 {
  width: 26px;
  height: 38px;
}
.shortlist-artist .container-22 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-20 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-24 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.shortlist-artist .container-7 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.shortlist-artist .chandigarh-punjab {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-artist .seeking-acheerful-and-energetic-child-model-for-atoy-commercial-must-be-able-to-express-excitement-and-play-naturally-on-camera {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-artist .apply-by-1-st-jan-20-xx-3 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-3-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.shortlist-artist .apply {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.shortlist-artist .group-24 {
  display: flex;
  box-sizing: border-box;
}
.shortlist-artist .container-21 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.shortlist-artist .container-12 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.shortlist-artist .group-108 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 28px 40px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .juice-advertisement {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.shortlist-artist .ellipse-3 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.shortlist-artist .ellipse-4 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.shortlist-artist .ellipse-5 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.shortlist-artist .container-11 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.shortlist-artist .vector-71 {
  width: 26px;
  height: 38px;
}
.shortlist-artist .container-17 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-34 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-13 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.shortlist-artist .container-18 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.shortlist-artist .mumbai-maharashtra {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-artist .looking-for-avibrant-expressive-child-to-star-in-ajuice-commercial-must-convey-joy-and-refreshment-while-enjoying-the-drink-on-camera {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-artist .apply-by-1-st-jan-20-xx {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.shortlist-artist .apply-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.shortlist-artist .group-241 {
  display: flex;
  box-sizing: border-box;
}
.shortlist-artist .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.shortlist-artist .container-37 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.shortlist-artist .group-109 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 93px 40px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .browse-similar-jobs {
  margin: 0 40px 42px 40px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 24px;
  color: #BB362A;
}
.shortlist-artist .rectangle-192 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  position: absolute;
  top: 197px;
  right: 23px;
  width: 194px;
  height: 49px;
}
.shortlist-artist .tv-commercial {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.shortlist-artist .ellipse-31 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.shortlist-artist .ellipse-41 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.shortlist-artist .ellipse-51 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.shortlist-artist .container-2 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.shortlist-artist .vector-711 {
  width: 26px;
  height: 38px;
}
.shortlist-artist .container-32 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-31 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-35 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.shortlist-artist .container-26 {
  position: relative;
  margin-bottom: 11px;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.shortlist-artist .delhi {
  position: relative;
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-artist .seeking-acharismatic-child-actor-for-atv-commercial-must-deliver-lines-naturally-and-convey-emotions-convincingly-on-camera {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-artist .apply-by-1-st-jan-20-xx-1 {
  margin: 9px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.shortlist-artist .apply-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.shortlist-artist .group-242 {
  margin-bottom: 12px;
  display: flex;
  box-sizing: border-box;
}
.shortlist-artist .container-9 {
  position: relative;
  margin-right: 69.2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1222.8px;
  box-sizing: border-box;
}
.shortlist-artist .group-110 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 28px 40px;
  display: flex;
  flex-direction: column;
  padding: 14px 26px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .music-video {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.shortlist-artist .ellipse-32 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.shortlist-artist .ellipse-42 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.shortlist-artist .ellipse-52 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.shortlist-artist .container-4 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.shortlist-artist .vector-712 {
  width: 26px;
  height: 38px;
}
.shortlist-artist .container-14 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-15 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .container-27 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.shortlist-artist .container-19 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.shortlist-artist .mumbai-maharashtra-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-artist .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.shortlist-artist .apply-by-1-st-jan-20-xx-2 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.shortlist-artist .apply-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.shortlist-artist .group-243 {
  display: flex;
  box-sizing: border-box;
}
.shortlist-artist .container-36 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.shortlist-artist .container-6 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.shortlist-artist .group-111 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 41px 29px 40px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-artist .see-all {
  margin: 0 41px 227px 41px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  text-decoration-line: underline;
  color: #BB362A;
}
.shortlist-artist .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.shortlist-artist .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-artist .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-artist .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.shortlist-artist .container {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.shortlist-artist .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .container-23 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.shortlist-artist .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .container-29 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.shortlist-artist .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .container-5 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.shortlist-artist .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .container-8 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.shortlist-artist .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .container-28 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.shortlist-artist .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.shortlist-artist .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.shortlist-artist .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.shortlist-artist .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.shortlist-artist .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.shortlist-artist .container-30 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.shortlist-artist .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.shortlist-artist .container-10 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.shortlist-artist .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.shortlist-artist {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
