.user-profile-3 .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.user-profile-3 .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.user-profile-3 .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.user-profile-3 .container-39 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.user-profile-3 .container-50 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.user-profile-3 .container-1 {
  background: #000000;
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.user-profile-3 .rectangle-245 {
  border-radius: 10px;
  background: #E7E7E7;
  position: absolute;
  left: 557px;
  bottom: 80px;
  width: 240px;
  height: 53px;
}
.user-profile-3 .other-details {
  margin: 0 2px 23px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.user-profile-3 .bio {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .write-ashort-bio {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-49 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 24px 0;
  padding: 15px 21px 14px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .about-yourself {
  margin: 0 6px 17px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .write-abrief-description-about-yourself {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-2 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 29px 0;
  padding: 15px 21px 67px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .skills {
  margin: 0 9px 16px 9px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .type-skill {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-17 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 2px 21px 0;
  padding: 16px 24px 13px 24px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .skill-1 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.user-profile-3 .group-57 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.user-profile-3 .container-34 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.user-profile-3 .skill-2 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.user-profile-3 .group-58 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.user-profile-3 .container-12 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.user-profile-3 .skill-3 {
  margin-right: 10px;
  width: 67px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.user-profile-3 .group-59 {
  margin: 4px 0 6px 0;
  width: 10px;
  height: 10px;
}
.user-profile-3 .container-47 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 9px 13px 7px 8px;
  width: 107px;
  box-sizing: border-box;
}
.user-profile-3 .container-19 {
  margin: 0 4px 32px 4px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 15px;
  width: 351px;
  box-sizing: border-box;
}
.user-profile-3 .language-required {
  margin: 0 5px 16px 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .type-language {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-15 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 2px 21px 0;
  padding: 16px 20px 13px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .language-1 {
  margin-right: 10.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.user-profile-3 .group-54 {
  margin: 6px 0 4px 0;
  width: 10px;
  height: 10px;
}
.user-profile-3 .container-32 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 18px;
  display: flex;
  flex-direction: row;
  padding: 9px 8px 7px 9px;
  box-sizing: border-box;
}
.user-profile-3 .language-2 {
  margin-right: 10.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 16px;
  color: #BB362A;
}
.user-profile-3 .group-55 {
  margin: 6px 0 4px 0;
  width: 10px;
  height: 10px;
}
.user-profile-3 .container-16 {
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 9px 8px 7px 6px;
  box-sizing: border-box;
}
.user-profile-3 .container-3 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .agein-years {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .gender {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .ethnicity {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .container-46 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 966.4px;
  box-sizing: border-box;
}
.user-profile-3 .age {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-41 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 9px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.user-profile-3 .choose-gender {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-8 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-35 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.user-profile-3 .choose-ethnicity {
  margin-right: 12px;
  width: 170px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-13 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-26 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px 13px 18px;
  width: 413px;
  box-sizing: border-box;
}
.user-profile-3 .container-30 {
  margin: 0 2px 27px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .height {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .weight {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .body-type {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .container-11 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 983.8px;
  box-sizing: border-box;
}
.user-profile-3 .age-1 {
  margin-right: 12px;
  width: 129px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-11 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-13 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 25px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.user-profile-3 .choose-gender-1 {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-9 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-33 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 21px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.user-profile-3 .choose-ethnicity-1 {
  margin-right: 12px;
  width: 170px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-14 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-9 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 20px 13px 18px;
  width: 413px;
  box-sizing: border-box;
}
.user-profile-3 .container-24 {
  margin: 0 2px 35px 0;
  display: flex;
  flex-direction: row;
  width: 1276px;
  box-sizing: border-box;
}
.user-profile-3 .hair-color {
  margin-right: 13.5px;
  width: 202px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .eye-color {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .container-52 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 538.4px;
  box-sizing: border-box;
}
.user-profile-3 .age-2 {
  margin-right: 12px;
  width: 129px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-12 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-4 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 25px 13px 9px;
  width: 413px;
  box-sizing: border-box;
}
.user-profile-3 .choose-gender-2 {
  margin-right: 12px;
  width: 181px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .polygon-10 {
  margin-bottom: 4px;
  width: 20px;
  height: 20px;
}
.user-profile-3 .container-37 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 16px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.user-profile-3 .container-21 {
  margin-bottom: 42px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 842px;
  box-sizing: border-box;
}
.user-profile-3 .social-media-handles-url {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .social-media-handle-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-31 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 14px;
  align-self: flex-start;
  padding: 16px 27px 13px 27px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .social-media-handle-11 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-25 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 14px;
  align-self: flex-start;
  padding: 16px 27px 13px 27px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .social-media-handle-12 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-5 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 55px;
  align-self: flex-start;
  padding: 16px 27px 13px 27px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .past-experience {
  margin: 0 2px 33px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 31px;
  color: #BB362A;
}
.user-profile-3 .name-of-the-project {
  margin-right: 13.5px;
  width: 371px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .year-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .container-8 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 862.2px;
  box-sizing: border-box;
}
.user-profile-3 .name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-27 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 33px;
  padding: 16px 15px 13px 15px;
  width: 781px;
  box-sizing: border-box;
}
.user-profile-3 .year {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-28 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 16px 11px 13px 11px;
  width: 450px;
  box-sizing: border-box;
}
.user-profile-3 .container-6 {
  margin: 0 14px 30px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .durationin-months {
  margin-right: 13.5px;
  width: 305px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .role {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .container-43 {
  margin: 0 4px 16px 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 496.6px;
  box-sizing: border-box;
}
.user-profile-3 .duration {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-40 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 35px;
  padding: 16px 17px 13px 17px;
  width: 412px;
  box-sizing: border-box;
}
.user-profile-3 .role-tittle {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-38 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 16px 17px 13px 17px;
  width: 817px;
  box-sizing: border-box;
}
.user-profile-3 .container-14 {
  margin: 0 14px 14px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .about-the-project {
  margin: 0 8px 16px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .brief-description-of-the-project-and-your-role-in-the-project {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-36 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 18px 14px 0;
  padding: 16px 21px 66px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .relevant-linksif-any {
  margin: 0 8px 16px 8px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .add-link-to-showcases-your-work-better {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.user-profile-3 .container-42 {
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 18px 26px 0;
  padding: 16px 21px 13px 21px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .vector-196 {
  background: #FFFFFF;
  position: relative;
  margin: 8px 10px 5px 0;
  width: 0px;
  height: 14px;
}
.user-profile-3 .add-experience {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-53 {
  margin: 0 15px 67px 15px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 .upload-photos-videos {
  margin: 0 2px 15px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 31px;
  color: #BB362A;
}
.user-profile-3 .to-showcase-your-talent-effectively-please-upload-your-photos-and-videos-high-quality-visuals-help-casting-professionals-see-your-potential-and-match-you-with-the-right-opportunities {
  margin: 0 90.3px 45px 4px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.user-profile-3 .drag-files-to-upload {
  margin-bottom: 2.9px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.user-profile-3 .or {
  margin-bottom: 1.1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.user-profile-3 .browse-files {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.user-profile-3 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}
.user-profile-3 .upload-to-cloud {
  background: url('../assets/images/upload_to_cloud.png') 50% / contain no-repeat;
  width: 63px;
  height: 63px;
}
.user-profile-3 .container-44 {
  border-radius: 10px;
  border: 1px dashed #FFFFFF;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  padding: 41.5px 23px 139.5px 0;
  height: 244px;
  box-sizing: border-box;
}
.user-profile-3 .group-97 {
  position: relative;
  margin: 0 0 78px 1px;
  display: flex;
  padding: 109px 16px 53px 0;
  width: 1277px;
  box-sizing: border-box;
}
.user-profile-3 .submit {
  margin-right: 39px;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 28px;
  color: #000000;
}
.user-profile-3 .container-48 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.user-profile-3 .vector-197 {
  background: #FFFFFF;
  position: absolute;
  left: 65px;
  bottom: 668px;
  width: 14px;
  height: 0px;
}
.user-profile-3 .container-51 {
  border-radius: 24px;
  background: linear-gradient(270deg, #545557, #030812);
  position: relative;
  margin: 0 23px 67px 24px;
  display: flex;
  padding: 32px 58px 92px 57px;
  box-sizing: border-box;
}
.user-profile-3 .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.user-profile-3 .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.user-profile-3 .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.user-profile-3 .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.user-profile-3 .container-18 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.user-profile-3 .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-10 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.user-profile-3 .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-45 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.user-profile-3 .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-20 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.user-profile-3 .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-23 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.user-profile-3 .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .container-29 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.user-profile-3 .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.user-profile-3 .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.user-profile-3 .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.user-profile-3 .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.user-profile-3 .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.user-profile-3 .container {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.user-profile-3 .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.user-profile-3 .container-22 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.user-profile-3 .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.user-profile-3 {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
