.ia .home-page-3 {
  margin-right: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-18 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-13 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .find-job {
  margin-right: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-19 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-6 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .job-page {
  margin-right: 15.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-52 {
  background: #000000;
  margin: 11px 4.3px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .filter-jobs {
  margin-right: 17.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-21 {
  background: #000000;
  margin: 11px 8.3px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .get-related-search {
  margin-right: 10.8px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-53 {
  background: #000000;
  margin: 11px 16.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .shortlist-jobs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-4 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .group-11 {
  margin: 0 33.3px 123px 43.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1322px;
  box-sizing: border-box;
}
.ia .vector-23 {
  background: #000000;
  margin: 11px 17.1px 34px 0;
  width: 80.5px;
  height: 0px;
}
.ia .actor {
  position: relative;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-11 {
  margin: 0 354.2px 6px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.ia .vector-452 {
  background: #000000;
  margin: 0 417.1px 29px 0;
  width: 80.5px;
  height: 0px;
}
.ia .home-page-9 {
  margin: 15px 21.5px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-22 {
  background: #000000;
  margin: 26px 0.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .find-talent {
  margin: 15px 38.9px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-462 {
  background: #000000;
  margin: 11px 13.5px 25px 0;
  width: 80.5px;
  height: 0px;
}
.ia .voiceover-artist {
  position: relative;
  margin: 0 0px 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-5 {
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .vector-20 {
  background: #000000;
  margin: 11px 16.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .artist-page {
  margin-right: 21.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-50 {
  background: #000000;
  margin: 11px 16.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .choose-artist {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container {
  margin-top: 19px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .container-25 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1242.6px;
  box-sizing: border-box;
}
.ia .vector-47 {
  background: #000000;
  margin-bottom: 40px;
  width: 80.5px;
  height: 0px;
}
.ia .vector-48 {
  background: #000000;
  margin-bottom: 40px;
  width: 80.5px;
  height: 0px;
}
.ia .vector-49 {
  background: #000000;
  width: 80.5px;
  height: 0px;
}
.ia .container-23 {
  margin: 11px 13.5px 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80.5px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .child-artist {
  margin-bottom: 19px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .influencers-singers {
  margin-bottom: 19px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .others {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-2 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.ia .container-10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .vector-51 {
  background: #000000;
  margin: 23px 0 6.5px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-7 {
  margin: 0 0 9px 70.4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 568px;
  box-sizing: border-box;
}
.ia .shortlist-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-10 {
  margin-left: 632.4px;
  display: flex;
  box-sizing: border-box;
}
.ia .container-16 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1242.6px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .model {
  position: absolute;
  left: 466.5px;
  top: 56px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .rectangle-23 {
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  position: absolute;
  top: 0px;
  right: 493.1px;
  width: 133px;
  height: 273px;
}
.ia .group-12 {
  position: relative;
  margin: 0 54.8px 146px 64.4px;
  display: flex;
  padding-top: 13px;
  width: 1280px;
  box-sizing: border-box;
}
.ia .home-page-4 {
  margin-right: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-54 {
  background: #000000;
  margin: 11px 13.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .post-job {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-12 {
  margin-bottom: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .vector-24 {
  background: #000000;
  margin: 11px 20.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .register-yourself {
  margin-right: 16px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-25 {
  background: #000000;
  margin: 11px 15.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .fill-details {
  margin-right: 2.9px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-26 {
  background: #000000;
  margin: 11px 19.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .post-job-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-2 {
  display: flex;
  box-sizing: border-box;
}
.ia .container-15 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .group-13 {
  margin: 0 25.5px 105px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1088px;
  box-sizing: border-box;
}
.ia .home-page-1 {
  margin-right: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-45 {
  background: #000000;
  margin: 11px 20.8px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .shortlist {
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .vector-46 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-1 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 435px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .see-shortlisted-job-post-artists-to-hire {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-14 {
  margin: 0 3.6px 90px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 854px;
  box-sizing: border-box;
}
.ia .home-page-2 {
  margin-right: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-451 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-14 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .about {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-461 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-19 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 435px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .about-the-company {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-16 {
  margin: 0 31.5px 89px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 677px;
  box-sizing: border-box;
}
.ia .home-page-7 {
  margin: 0 21.5px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-541 {
  background: #000000;
  margin: 11px 9px 11px 0;
  width: 80.5px;
  height: 0px;
}
.ia .login-signup {
  margin: 0 0.5px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-241 {
  background: #000000;
  margin: 12px 20.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .register-yourself-1 {
  margin: 1px 16px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-251 {
  background: #000000;
  margin: 12px 15.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .fill-details-1 {
  margin: 1px 2.9px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-261 {
  background: #000000;
  margin: 12px 4.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .post-job-find-ajob {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-21 {
  margin: 1px 0px 0 0;
  display: flex;
  box-sizing: border-box;
}
.ia .group-18 {
  margin: 0 0 121px 9.6px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.ia .home-page-8 {
  margin: 0 1.5px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-59 {
  background: #000000;
  margin: 11px 6.1px 11px 0;
  width: 80.5px;
  height: 0px;
}
.ia .join-now {
  margin: 0 2.6px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-55 {
  background: #000000;
  margin: 11px 9px 11px 0;
  width: 80.5px;
  height: 0px;
}
.ia .login-signup-1 {
  margin: 0 0.5px 1px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-56 {
  background: #000000;
  margin: 12px 20.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .register-yourself-2 {
  margin: 1px 16px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-57 {
  background: #000000;
  margin: 12px 15.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .fill-details-2 {
  margin: 1px 2.9px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-58 {
  background: #000000;
  margin: 12px 4.4px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .post-job-find-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-17 {
  margin: 1px 0px 0 0;
  display: flex;
  box-sizing: border-box;
}
.ia .group-21 {
  margin: 0 29.9px 121px 39.4px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.ia .home-page-5 {
  margin-right: 1.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-61 {
  background: #000000;
  margin: 11px 7.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .view-all-details-and-apply {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .container-17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .job-description-page {
  margin-right: 5.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .vector-65 {
  background: #000000;
  margin: 11px 0 8px 0;
  width: 80.5px;
  height: 0px;
}
.ia .apply {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .container-22 {
  margin: 0 0px 2px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 352.9px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .container-3 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 869.4px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .vector-60 {
  background: #000000;
  position: absolute;
  right: 361.4px;
  bottom: 10px;
  width: 80.5px;
  height: 0px;
}
.ia .container-9 {
  position: relative;
  margin: 0 0 97px 10.4px;
  display: flex;
  width: 869.4px;
  box-sizing: border-box;
}
.ia .home-page-6 {
  margin-right: 1.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-611 {
  background: #000000;
  margin: 11px 7.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .view-all-job-posts {
  margin: 0 13.1px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .vector-601 {
  background: #000000;
  margin: 11px 17.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .job-post-page {
  margin: 0 0.5px 2px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .vector-68 {
  background: #000000;
  margin: 11px 7.5px 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .view-all-details-and-apply-1 {
  margin-bottom: 2px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .container-24 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.ia .job-description-page-1 {
  margin-right: 5.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .vector-67 {
  background: #000000;
  margin: 11px 0 8px 0;
  width: 80.5px;
  height: 0px;
}
.ia .apply-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.ia .container-18 {
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 352.9px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .container-20 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1351.4px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .vector-66 {
  background: #000000;
  position: absolute;
  right: 361.4px;
  bottom: 10px;
  width: 80.5px;
  height: 0px;
}
.ia .group-22 {
  position: relative;
  margin: 0 0 121px 10.4px;
  display: flex;
  width: 1369px;
  box-sizing: border-box;
}
.ia .home-page {
  margin-right: 21.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-30 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .join-community {
  margin-right: 18.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .vector-32 {
  background: #000000;
  margin: 11px 0 10px 0;
  width: 80.5px;
  height: 0px;
}
.ia .container-21 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 526px;
  height: fit-content;
  box-sizing: border-box;
}
.ia .connect-with-people-of-similar-interest {
  margin-right: 0px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.ia .group-23 {
  margin: 0 17.9px 402px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 927px;
  box-sizing: border-box;
}
.ia .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  margin: 0 52.9px;
  align-self: flex-end;
  width: 330px;
  height: 282px;
}
.ia {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 101px 39.1px 587px 39.1px;
  width: 1440px;
  box-sizing: border-box;
}
