.job-post .vector-74 {
  position: absolute;
  top: 939px;
  right: 70px;
  width: 26px;
  height: 38px;
}
.job-post .vector-77 {
  position: absolute;
  top: 1242px;
  right: 70px;
  width: 26px;
  height: 38px;
}
.job-post .vector-84 {
  position: absolute;
  top: 2151px;
  right: 70px;
  width: 26px;
  height: 38px;
}
.job-post .vector-80 {
  position: absolute;
  top: 1545px;
  right: 70px;
  width: 26px;
  height: 38px;
}
.job-post .ellipse-6 {
  position: absolute;
  top: 952px;
  right: 148px;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-9 {
  position: absolute;
  top: 1255px;
  right: 148px;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-16 {
  position: absolute;
  top: 2164px;
  right: 148px;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-12 {
  position: absolute;
  top: 1558px;
  right: 148px;
  width: 13px;
  height: 12px;
}
.job-post .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.job-post .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.job-post .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.job-post .container-59 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.job-post .container-80 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-post .container-2 {
  background: #000000;
  position: relative;
  margin-bottom: 53px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.job-post .ellipse-1 {
  border-radius: 4px;
  margin: 5px 14px 11px 0;
  width: 8px;
  height: 8px;
}
.job-post .search {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .container-69 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-post .vector-69 {
  position: absolute;
  left: 20px;
  bottom: 16px;
  width: 7px;
  height: 7px;
}
.job-post .container-75 {
  box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 38px 40px 29px;
  padding: 12px 14px 11px 14px;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .job-type {
  margin-right: 6.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-70 {
  margin: 10px 0 8px 0;
  width: 12px;
  height: 6px;
}
.job-post .frame-2 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 2px 28px 0 0;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 149px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .age {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-702 {
  margin: 10px 0 8px 0;
  width: 8.6px;
  height: 6px;
}
.job-post .frame-4 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 1px 28px 1px 0;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 104px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .gender {
  margin-right: 13.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-701 {
  margin: 10px 0 8px 0;
  width: 12px;
  height: 6px;
}
.job-post .frame-3 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 1px 28px 1px 0;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 149px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .location {
  margin-right: 12px;
  width: 143px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-703 {
  margin: 10px 0 8px 0;
  width: 12px;
  height: 6px;
}
.job-post .frame-5 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 1px 29px 1px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 0 11px 0;
  width: 176px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .production-type {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-704 {
  margin: 10px 0 8px 0;
  width: 13.5px;
  height: 6px;
}
.job-post .frame-6 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 2px 27px 0 0;
  display: flex;
  flex-direction: row;
  padding: 13px 21px 11px 0;
  width: 234px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .ethnicity {
  margin-right: 6.6px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-705 {
  margin: 10px 0 8px 0;
  width: 12px;
  height: 6px;
}
.job-post .frame-8 {
  border-radius: 8px;
  background: #FFFFFF;
  margin: 0 28px 2px 0;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 149px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .posted-by {
  margin-right: 7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-706 {
  margin: 10px 0 8px 0;
  width: 12px;
  height: 6px;
}
.job-post .frame-9 {
  border-radius: 8px;
  background: #FFFFFF;
  margin-bottom: 2px;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 162px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-19 {
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  width: 1291px;
  box-sizing: border-box;
}
.job-post .language {
  margin-right: 3.4px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-708 {
  margin: 10px 0 8px 0;
  width: 8px;
  height: 6px;
}
.job-post .frame-24 {
  border-radius: 8px;
  background: #FFFFFF;
  margin-right: 26px;
  display: flex;
  flex-direction: row;
  padding: 13px 0 11px 0;
  width: 156px;
  box-sizing: border-box;
}
.job-post .compensation {
  margin-right: 2.1px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .vector-707 {
  margin: 10px 0 8px 0;
  width: 12.8px;
  height: 6px;
}
.job-post .frame-23 {
  border-radius: 8px;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  padding: 13px 19px 11px 0;
  width: 205px;
  box-sizing: border-box;
}
.job-post .container-71 {
  margin: 0 1px 22px 1px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 387px;
  box-sizing: border-box;
}
.job-post .apply-7 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 24px;
  color: #FFFFFF;
}
.job-post .container-38 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  padding: 8px 1px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-12 {
  border-radius: 12px;
  background: #555658;
  position: relative;
  margin: 0 44px 31px 37px;
  display: flex;
  flex-direction: column;
  padding: 16px 47px 26px 21px;
  width: 1359px;
  box-sizing: border-box;
}
.job-post .sort-by {
  margin: 3px 12px 3px 0;
  display: inline-block;
  width: 121px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .newest {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .frame-12 {
  border-radius: 6px;
  background: #BB362A;
  display: flex;
  padding: 3px 2px 3px 0;
  width: 149px;
  box-sizing: border-box;
}
.job-post .oldest {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #BB362A;
}
.job-post .frame-13 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  padding: 3px 2px 3px 0;
  width: 149px;
  box-sizing: border-box;
}
.job-post .apply-date {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #BB362A;
}
.job-post .frame-14 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  padding: 3px 1px 3px 0;
  width: 165px;
  box-sizing: border-box;
}
.job-post .nearest-to-me {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #BB362A;
}
.job-post .frame-15 {
  border-radius: 6px;
  background: #FFFFFF;
  display: flex;
  padding: 3px 3px 3px 0;
  width: 202px;
  box-sizing: border-box;
}
.job-post .container-25 {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 725px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-74 {
  border-radius: 12px;
  background: #555658;
  position: relative;
  margin: 0 55px 54px 37px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 0 22px 22px;
  width: 1348px;
  box-sizing: border-box;
}
.job-post .tv-commercial-1 {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-36 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-46 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-56 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-23 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-716 {
  width: 26px;
  height: 38px;
}
.job-post .container-40 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-64 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-34 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-48 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .delhi-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .seeking-acharismatic-child-actor-for-atv-commercial-must-deliver-lines-naturally-and-convey-emotions-convincingly-on-camera-1 {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-6 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-6-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-6 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-246 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-78 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-39 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-115 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 44px 43px 37px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .ellipse-7 {
  border-radius: 6.5px;
  background: #000000;
  margin: 0 123px 5px 123px;
  align-self: flex-end;
  width: 13px;
  height: 13px;
}
.job-post .job-tittle {
  margin-right: 18.5px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.job-post .ellipse-8 {
  border-radius: 6.5px;
  background: #000000;
  margin: 7px 0 17px 0;
  width: 13px;
  height: 13px;
}
.job-post .container-1 {
  margin: 0 123px 30px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239px;
  box-sizing: border-box;
}
.job-post .location-1 {
  margin: 0 78px 8px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .job-description {
  margin: 0 78px 36px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-7 {
  margin: 4px 13.5px 17px 0;
  display: inline-block;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-8 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .frame-16 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 13px 5px 11px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-9 {
  margin: 0 70px 72px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .ellipse-10 {
  border-radius: 6.5px;
  background: #000000;
  margin: 0 123px 5px 123px;
  align-self: flex-end;
  width: 13px;
  height: 13px;
}
.job-post .job-tittle-1 {
  margin-right: 18.5px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.job-post .ellipse-11 {
  border-radius: 6.5px;
  background: #000000;
  margin: 7px 0 17px 0;
  width: 13px;
  height: 13px;
}
.job-post .container-35 {
  margin: 0 123px 30px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239px;
  box-sizing: border-box;
}
.job-post .location-2 {
  margin: 0 78px 8px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .job-description-1 {
  margin: 0 78px 36px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-8 {
  margin: 4px 13.5px 17px 0;
  display: inline-block;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-9 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .frame-17 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 13px 5px 11px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-67 {
  margin: 0 70px 72px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .ellipse-13 {
  border-radius: 6.5px;
  background: #000000;
  margin: 0 123px 5px 123px;
  align-self: flex-end;
  width: 13px;
  height: 13px;
}
.job-post .job-tittle-2 {
  margin-right: 18.5px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.job-post .ellipse-14 {
  border-radius: 6.5px;
  background: #000000;
  margin: 7px 0 17px 0;
  width: 13px;
  height: 13px;
}
.job-post .container-13 {
  margin: 0 123px 30px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239px;
  box-sizing: border-box;
}
.job-post .location-3 {
  margin: 0 78px 8px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .job-description-2 {
  margin: 0 78px 36px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-9 {
  margin: 4px 13.5px 17px 0;
  display: inline-block;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-10 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .frame-18 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 13px 5px 11px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-44 {
  margin: 0 70px 57px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .music-video {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-34 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-44 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-54 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-4 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-714 {
  width: 26px;
  height: 38px;
}
.job-post .container-47 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-79 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-32 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-28 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .mumbai-maharashtra-1 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .looking-for-adynamic-child-performer-for-amusic-video-must-be-able-to-dance-and-act-in-sync-with-the-music-and-storyline {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-4-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-by-1-st-jan-20-xx-4 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-4 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-244 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-37 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-16 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-112 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 44px 43px 37px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .ellipse-19 {
  border-radius: 6.5px;
  background: #000000;
  margin: 0 123px 5px 123px;
  align-self: flex-end;
  width: 13px;
  height: 13px;
}
.job-post .job-tittle-3 {
  margin-right: 18.5px;
  width: 149px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 30px;
  color: #000000;
}
.job-post .ellipse-22 {
  border-radius: 6.5px;
  background: #000000;
  margin: 7px 0 17px 0;
  width: 13px;
  height: 13px;
}
.job-post .container-26 {
  margin: 0 123px 30px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1239px;
  box-sizing: border-box;
}
.job-post .location-4 {
  margin: 0 78px 8px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .job-description-3 {
  margin: 0 78px 36px 78px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-10 {
  margin: 4px 13.5px 17px 0;
  display: inline-block;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-11 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.job-post .frame-20 {
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  display: flex;
  padding: 13px 5px 11px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-53 {
  margin: 0 70px 56px 78px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .animated-series-voiceover {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 646px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-35 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-45 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-55 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-56 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-715 {
  width: 26px;
  height: 38px;
}
.job-post .container-29 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-72 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-52 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-7 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .mumbai-maharashtra-2 {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .seeking-atalented-child-with-aclear-expressive-voice-for-an-animated-series-must-bring-characters-to-life-with-enthusiasm-and-clarity {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-5 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-5-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-5 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-245 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-66 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-68 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-113 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 0 47px 56.3px 34px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .container {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #FFFFFF;
}
.job-post .container-60 {
  border-radius: 16.2px;
  background: #BB362A;
  position: relative;
  margin-right: 2.3px;
  display: flex;
  padding: 1.7px 12.2px 1.7px 11.6px;
  box-sizing: border-box;
}
.job-post .container-1 {
  margin: 1.7px 12px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-2 {
  margin: 1.7px 10.9px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-3 {
  margin: 1.7px 10.9px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-5 {
  margin: 1.7px 18.5px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-7 {
  margin: 1.7px 17.4px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-4 {
  margin: 1.7px 10.6px 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .container-6 {
  margin: 1.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #C6B8B8;
}
.job-post .group-114 {
  margin: 0 4.4px 138.3px 0;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.job-post .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-post .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-post .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.job-post .container-43 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.job-post .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .container-14 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.job-post .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .container-33 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.job-post .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .container-61 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.job-post .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .container-27 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.job-post .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .container-20 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.job-post .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.job-post .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.job-post .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.job-post .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.job-post .container-11 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.job-post .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.job-post .container-10 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.job-post .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.job-post .container-57 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.job-post .container-3 {
  position: absolute;
  top: 945px;
  right: 128px;
  width: 27px;
  height: 13px;
}
.job-post .container {
  position: absolute;
  top: 1248px;
  right: 128px;
  width: 27px;
  height: 13px;
}
.job-post .container-65 {
  position: absolute;
  right: 128px;
  bottom: 1360px;
  width: 27px;
  height: 13px;
}
.job-post .container-81 {
  position: absolute;
  top: 1551px;
  right: 128px;
  width: 27px;
  height: 13px;
}
.job-post .toy-advertisement {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-3 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-4 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-5 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-15 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-71 {
  width: 26px;
  height: 38px;
}
.job-post .container-18 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-24 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-6 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-30 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .chandigarh-punjab {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .seeking-acheerful-and-energetic-child-model-for-atoy-commercial-must-be-able-to-express-excitement-and-play-naturally-on-camera {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-24 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-8 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-108 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 37px;
  top: 1528px;
  right: 44px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  box-sizing: border-box;
}
.job-post .tv-commercial {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-31 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-41 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-51 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-63 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-711 {
  width: 26px;
  height: 38px;
}
.job-post .container-42 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-73 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-62 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-51 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .delhi {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .seeking-acharismatic-child-actor-for-atv-commercial-must-deliver-lines-naturally-and-convey-emotions-convincingly-on-camera {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-1 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-1-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-241 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-45 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-22 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-110 {
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 37px;
  top: 923px;
  right: 44px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  box-sizing: border-box;
}
.job-post .clothing-brand-model {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-32 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-42 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-52 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-21 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-712 {
  width: 26px;
  height: 38px;
}
.job-post .container-31 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-17 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-36 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-77 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .pune-maharashtra {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .searching-for-astylish-and-photogenic-child-model-for-aclothing-brand-photoshoot-must-pose-confidently-and-showcase-various-outfits {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-2 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-2-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-242 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-49 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-76 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-111 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 37px;
  top: 1226px;
  right: 44px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  box-sizing: border-box;
}
.job-post .juice-advertisement {
  margin: 18px 22px 0 0;
  display: inline-block;
  width: 409px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.job-post .ellipse-33 {
  margin: 13px 12px 13px 0;
  width: 13px;
  height: 12px;
}
.job-post .ellipse-43 {
  border-radius: 6.5px;
  background: #555658;
  margin-bottom: 12px;
  width: 13px;
  height: 13px;
}
.job-post .ellipse-53 {
  border-radius: 6.5px;
  background: #555658;
  width: 13px;
  height: 13px;
}
.job-post .container-54 {
  margin-right: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 13px;
  box-sizing: border-box;
}
.job-post .vector-713 {
  width: 26px;
  height: 38px;
}
.job-post .container-46 {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  width: 91px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-50 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1292px;
  height: fit-content;
  box-sizing: border-box;
}
.job-post .container-55 {
  position: absolute;
  top: 6px;
  right: 58px;
  width: 27px;
  height: 13px;
}
.job-post .container-58 {
  position: relative;
  margin: 0 3px 11px 0;
  display: flex;
  width: 1292px;
  box-sizing: border-box;
}
.job-post .mumbai-maharashtra {
  margin-bottom: 22px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.job-post .looking-for-avibrant-expressive-child-to-star-in-ajuice-commercial-must-convey-joy-and-refreshment-while-enjoying-the-drink-on-camera {
  margin-bottom: 7px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.job-post .apply-by-1-st-jan-20-xx-3 {
  margin: 22px 13.5px 0 0;
  width: 261px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.apply-by-1-st-jan-20-xx-3-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  line-height: 1.333;
  color: #BB362A;
}
.job-post .apply-3 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.job-post .group-243 {
  display: flex;
  box-sizing: border-box;
}
.job-post .container-70 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  display: flex;
  padding: 13px 9px 12px 0;
  width: 194px;
  box-sizing: border-box;
}
.job-post .container-41 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1295px;
  box-sizing: border-box;
}
.job-post .group-109 {
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: 0.2px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 34px;
  right: 47px;
  bottom: 1120px;
  display: flex;
  flex-direction: column;
  padding: 14px 23px 29px 41px;
  box-sizing: border-box;
}
.job-post {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
