.make-profile-1 .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.make-profile-1 .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-1 .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.make-profile-1 .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.make-profile-1 .container-4 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.make-profile-1 .container-17 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.make-profile-1 .container-13 {
  background: #000000;
  position: relative;
  margin-bottom: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.make-profile-1 .build-your-profile-and-stand-out {
  margin: 0 116px 24px 116px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 60px;
  color: #BB362A;
}
.make-profile-1 .showcase-your-unique-talent-and-get-noticed-craft-acompelling-profile-to-highlight-your-skills-experience-and-personality-connect-with-industry-professionals-and-unlock-exciting-opportunities-to-take-your-career-to-new-heights {
  margin: 0 142.8px 82px 122px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.make-profile-1 .what-type-of-job-are-you-looking-for {
  margin: 0 116px 137px 116px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 31px;
  color: #BB362A;
}
.make-profile-1 .dress-1 {
  background: url('../assets/images/dress_1.png') 50% / cover no-repeat;
  margin: 0 0 9.5px 8.5px;
  width: 37.5px;
  height: 50px;
}
.make-profile-1 .model {
  margin: 0 0.5px 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #BB362A;
}
.make-profile-1 .find-the-face-of-your-campaign {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.make-profile-1 .group-127 {
  box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.07), 0px 20.9px 16.7px 0px rgba(0, 0, 0, 0.05), 0px 11.2px 8.9px 0px rgba(0, 0, 0, 0.042), 0px 6.3px 5px 0px rgba(0, 0, 0, 0.035), 0px 3.3px 2.7px 0px rgba(0, 0, 0, 0.028), 0px 1.4px 1.1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 123.1px 205px 127.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60.5px 0 81px 0;
  width: 164px;
  height: fit-content;
  box-sizing: border-box;
}
.make-profile-1 .thank-you {
  background: url('../assets/images/thank_you.png') 50% / contain no-repeat;
  margin: 0 6px 20px 0;
  width: 100px;
  height: 100px;
}
.make-profile-1 .performer {
  margin: 0 7px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-1 .find-dynamic-talent-for-stage {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.make-profile-1 .group-125 {
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.8px 33.4px 0px rgba(0, 0, 0, 0.05), 0px 22.3px 17.9px 0px rgba(0, 0, 0, 0.042), 0px 12.5px 10px 0px rgba(0, 0, 0, 0.035), 0px 6.7px 5.3px 0px rgba(0, 0, 0, 0.028), 0px 2.8px 2.2px 0px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 190.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 13.3px 0 18.3px;
  box-sizing: border-box;
}
.make-profile-1 .reel-11 {
  background: url('../assets/images/reel_11.png') 50% / cover no-repeat;
  margin: 0 0 11.5px 3px;
  width: 50px;
  height: 50px;
}
.make-profile-1 .influencers-content-creators {
  margin-bottom: 11.5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #BB362A;
}
.make-profile-1 .connect-with-impactful-voices-and-creative-minds {
  margin: 0 11px 0 14px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.make-profile-1 .group-126 {
  box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.07), 0px 20.9px 16.7px 0px rgba(0, 0, 0, 0.05), 0px 11.2px 8.9px 0px rgba(0, 0, 0, 0.042), 0px 6.3px 5px 0px rgba(0, 0, 0, 0.035), 0px 3.3px 2.7px 0px rgba(0, 0, 0, 0.028), 0px 1.4px 1.1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 129.1px 0 121.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 4.4px 61.5px 2.9px;
  box-sizing: border-box;
}
.make-profile-1 .container-15 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.make-profile-1 .microphone {
  background: url('../assets/images/microphone.png') 50% / contain no-repeat;
  margin: 0 0.7px 16.5px 0;
  width: 66px;
  height: 66px;
}
.make-profile-1 .voiceover-artists {
  margin-bottom: 13.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17.2px;
  color: #BB362A;
}
.make-profile-1 .find-the-ideal-voice {
  margin-left: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #000000;
}
.make-profile-1 .group-124 {
  box-shadow: 0px 66px 52.8px 0px rgba(0, 0, 0, 0.07), 0px 27.6px 22.1px 0px rgba(0, 0, 0, 0.05), 0px 14.7px 11.8px 0px rgba(0, 0, 0, 0.042), 0px 8.3px 6.6px 0px rgba(0, 0, 0, 0.035), 0px 4.4px 3.5px 0px rgba(0, 0, 0, 0.028), 0px 1.8px 1.5px 0px rgba(0, 0, 0, 0.02);
  border-radius: 7.9px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  right: 73.1px;
  bottom: 82.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215.8px;
  height: 330.7px;
}
.make-profile-1 .theatre-mask {
  background: url('../assets/images/theatre_mask.png') 50% / contain no-repeat;
  margin-bottom: 13.2px;
  width: 66px;
  height: 66px;
}
.make-profile-1 .actor {
  margin: 0 0.7px 12.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17.2px;
  color: #BB362A;
}
.make-profile-1 .discover-the-stars-for-your-screen {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #000000;
}
.make-profile-1 .group-128 {
  box-shadow: 0px 66px 52.8px 0px rgba(0, 0, 0, 0.07), 0px 27.6px 22.1px 0px rgba(0, 0, 0, 0.05), 0px 14.7px 11.8px 0px rgba(0, 0, 0, 0.042), 0px 8.3px 6.6px 0px rgba(0, 0, 0, 0.035), 0px 4.4px 3.5px 0px rgba(0, 0, 0, 0.028), 0px 1.8px 1.5px 0px rgba(0, 0, 0, 0.02);
  border-radius: 7.9px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 85.5px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20.6px 0 21.3px;
  height: 330.7px;
  box-sizing: border-box;
}
.make-profile-1 .container-14 {
  position: relative;
  margin: 0 43.5px 73px 0;
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.make-profile-1 .looking-for-something-else {
  margin: 0 124px 8px 124px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.make-profile-1 .other {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #BB362A;
}
.make-profile-1 .container {
  border-radius: 10px;
  border: 1px solid #000000;
  position: relative;
  margin: 0 124px 217px 124px;
  display: flex;
  align-self: flex-start;
  padding: 12px 0 17px 1px;
  width: 325px;
  box-sizing: border-box;
}
.make-profile-1 .next {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.make-profile-1 .container-3 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin: 0 1px 211px 0;
  display: flex;
  align-self: center;
  padding: 12px 0 17px 1px;
  width: 325px;
  box-sizing: border-box;
}
.make-profile-1 .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.make-profile-1 .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-1 .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-1 .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-1 .container-16 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.make-profile-1 .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .container-10 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.make-profile-1 .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .container-8 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.make-profile-1 .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .container-11 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.make-profile-1 .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .container-12 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.make-profile-1 .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .container-9 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.make-profile-1 .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-1 .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-1 .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.make-profile-1 .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.make-profile-1 .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.make-profile-1 .container-6 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.make-profile-1 .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.make-profile-1 .container-2 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.make-profile-1 .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-1 .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.make-profile-1 .vector-223 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 24px;
}
.make-profile-1 .container-5 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 153px;
  top: 872px;
  display: flex;
  padding: 8px 14px 7px 13px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.make-profile-1 .rectangle-324 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 39px;
  height: 39px;
}
.make-profile-1 .vector-224 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 12px;
  height: 24px;
}
.make-profile-1 .container-1 {
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 872px;
  right: 198px;
  display: flex;
  padding: 8px 14px 7px 13px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.make-profile-1 {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
