.make-profile-2-user-and-recruiter .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.make-profile-2-user-and-recruiter .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-11 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-9 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-27 {
  background: #000000;
  position: relative;
  margin-bottom: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .personal-details {
  margin-bottom: 54px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 36px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .first-name-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .last-name-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .container-34 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 776.3px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .first-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-13 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 31px;
  padding: 16px 15px 13px 15px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .last-name {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-6 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 16px 21px 13px 21px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-30 {
  margin: 0 1px 26px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .gender-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .date-of-birth {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .container-24 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 688.7px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .gender {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-16 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 25px;
  padding: 16px 15px 13px 15px;
  width: 518px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .dd {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-2 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .mm {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-5 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 17px;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .yyyy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-31 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 16px 15px 13px 15px;
  width: 121px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-17 {
  margin-bottom: 34px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .contact-number-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .alternate-contact-number-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .container-23 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 958.2px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .contact-number {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-12 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 31px;
  padding: 16px 15px 13px 15px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .alternate-contact-number {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-15 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 15px 27px 14px 27px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-3 {
  margin: 0 1px 30px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .email-id-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .email-id {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-22 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 30px;
  align-self: flex-start;
  padding: 16px 15px 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .address-1 {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .address {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-7 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin: 0 1px 26px 0;
  padding: 16px 15px 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .city-1 {
  margin-right: 13.5px;
  width: 194px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .state-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .container-25 {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 714.1px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .city {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-33 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  margin-right: 31px;
  padding: 16px 15px 13px 15px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .state {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #9E9E9E;
}
.make-profile-2-user-and-recruiter .container-26 {
  box-shadow: inset 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
  padding: 16px 21px 13px 21px;
  width: 623px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-14 {
  margin: 0 1px 84px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .upload-files {
  margin: 0 2px 15px 2px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 31px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .to-ensure-the-security-and-authenticity-of-our-community-please-upload-the-required-documents-for-verification-this-step-helps-us-prevent-fraud-and-maintain-asafe-environment-for-all-our-members {
  margin-bottom: 158px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .drag-files-to-upload {
  margin: 0 17px 1.9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .or {
  margin: 0 17px 2.1px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .browse-files {
  margin: 0 17px 111px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 21.7px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .next {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 28px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-20 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin-left: 2px;
  display: flex;
  align-self: center;
  padding: 7px 0 12px 0;
  width: 240px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-21 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .upload-to-cloud {
  background: url('../assets/images/upload_to_cloud.png') 50% / contain no-repeat;
  width: 63px;
  height: 63px;
}
.make-profile-2-user-and-recruiter .container {
  border-radius: 10px;
  border: 1px dashed #FFFFFF;
  position: absolute;
  left: 45px;
  right: 43px;
  bottom: 141px;
  display: flex;
  padding: 41.5px 23px 139.5px 0;
  height: 244px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .container-10 {
  border-radius: 24px;
  background: linear-gradient(270deg, #545557, #030812);
  position: relative;
  margin: 0 37px 52px 38px;
  display: flex;
  padding: 47px 42px 24px 45px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.make-profile-2-user-and-recruiter .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .container-8 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-29 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-1 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-18 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-4 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .post-ajob-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .container-28 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.make-profile-2-user-and-recruiter .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.make-profile-2-user-and-recruiter .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.make-profile-2-user-and-recruiter .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.make-profile-2-user-and-recruiter .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.make-profile-2-user-and-recruiter .container-32 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.make-profile-2-user-and-recruiter .container-19 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.make-profile-2-user-and-recruiter {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1440px;
  box-sizing: border-box;
}
