.post-ajob .straight-logo-1 {
  background: url('../assets/images/straight_logo_1.png') 50% / cover no-repeat;
  margin: 9px 0 6.4px 0;
  width: 210px;
  height: 33.6px;
}
.post-ajob .home {
  margin: 0 10px 1px 0;
  display: inline-block;
  width: 57px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .find-job {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .find-talent {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .post-ajob {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .shortlist {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .community {
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.post-ajob .frame-1 {
  margin: 15px 44.1px 13px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 762px;
  height: fit-content;
  box-sizing: border-box;
}
.post-ajob .login-signup {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: #FFFFFF;
}
.post-ajob .container-15 {
  border-radius: 24px;
  background: #BB362A;
  position: relative;
  display: flex;
  padding: 13px 9.7px 14px 12.7px;
  box-sizing: border-box;
}
.post-ajob .container-8 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-ajob .container-16 {
  background: #000000;
  position: relative;
  margin-bottom: 104px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px 13px 25px 52px;
  width: 1440px;
  box-sizing: border-box;
}
.post-ajob .post-ajob-and-discover-exceptional-talent {
  margin: 0 116px 40px 116px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 60px;
  color: #BB362A;
}
.post-ajob .seeking-the-perfect-fit-for-your-next-project-post-your-job-here-to-access-adiverse-network-of-talented-actors-models-voice-over-artists-and-creative-professionals-our-platform-streamlines-the-hiring-process-ensuring-you-find-the-ideal-match-to-bring-your-vision-to-life-start-your-search-today {
  margin: 0 142.6px 60px 122px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 24px;
  color: #000000;
}
.post-ajob .what-type-of-talent-are-you-looking-for {
  margin: 0 116px 149px 116px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 31px;
  color: #000000;
}
.post-ajob .dress-1 {
  background: url('../assets/images/dress_1.png') 50% / cover no-repeat;
  margin: 0 0 9.5px 8.5px;
  width: 37.5px;
  height: 50px;
}
.post-ajob .model {
  margin: 0 0.5px 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #BB362A;
}
.post-ajob .find-the-face-of-your-campaign {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.post-ajob .group-127 {
  box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.07), 0px 20.9px 16.7px 0px rgba(0, 0, 0, 0.05), 0px 11.2px 8.9px 0px rgba(0, 0, 0, 0.042), 0px 6.3px 5px 0px rgba(0, 0, 0, 0.035), 0px 3.3px 2.7px 0px rgba(0, 0, 0, 0.028), 0px 1.4px 1.1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 123.1px 205px 127.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60.5px 0 81px 0;
  width: 164px;
  height: fit-content;
  box-sizing: border-box;
}
.post-ajob .thank-you {
  background: url('../assets/images/thank_you.png') 50% / contain no-repeat;
  margin: 0 6px 20px 0;
  width: 100px;
  height: 100px;
}
.post-ajob .performer {
  margin: 0 7px 31px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob .find-dynamic-talent-for-stage {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.post-ajob .group-125 {
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.07), 0px 41.8px 33.4px 0px rgba(0, 0, 0, 0.05), 0px 22.3px 17.9px 0px rgba(0, 0, 0, 0.042), 0px 12.5px 10px 0px rgba(0, 0, 0, 0.035), 0px 6.7px 5.3px 0px rgba(0, 0, 0, 0.028), 0px 2.8px 2.2px 0px rgba(0, 0, 0, 0.02);
  border-radius: 12px;
  border: 1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin-right: 190.5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 13.3px 0 18.3px;
  box-sizing: border-box;
}
.post-ajob .reel-11 {
  background: url('../assets/images/reel_11.png') 50% / cover no-repeat;
  margin: 0 0 11.5px 3px;
  width: 50px;
  height: 50px;
}
.post-ajob .influencers-content-creators {
  margin-bottom: 11.5px;
  display: inline-block;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 13px;
  color: #BB362A;
}
.post-ajob .connect-with-impactful-voices-and-creative-minds {
  margin: 0 11px 0 14px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 10px;
  color: #000000;
}
.post-ajob .group-126 {
  box-shadow: 0px 50px 40px 0px rgba(0, 0, 0, 0.07), 0px 20.9px 16.7px 0px rgba(0, 0, 0, 0.05), 0px 11.2px 8.9px 0px rgba(0, 0, 0, 0.042), 0px 6.3px 5px 0px rgba(0, 0, 0, 0.035), 0px 3.3px 2.7px 0px rgba(0, 0, 0, 0.028), 0px 1.4px 1.1px 0px rgba(0, 0, 0, 0.02);
  border-radius: 6px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: relative;
  margin: 129.1px 0 121.4px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 4.4px 61.5px 2.9px;
  box-sizing: border-box;
}
.post-ajob .container-13 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-ajob .microphone {
  background: url('../assets/images/microphone.png') 50% / contain no-repeat;
  margin: 0 0.7px 16.5px 0;
  width: 66px;
  height: 66px;
}
.post-ajob .voiceover-artists {
  margin-bottom: 13.3px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17.2px;
  color: #BB362A;
}
.post-ajob .find-the-ideal-voice {
  margin-left: 0.7px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #000000;
}
.post-ajob .group-124 {
  box-shadow: 0px 66px 52.8px 0px rgba(0, 0, 0, 0.07), 0px 27.6px 22.1px 0px rgba(0, 0, 0, 0.05), 0px 14.7px 11.8px 0px rgba(0, 0, 0, 0.042), 0px 8.3px 6.6px 0px rgba(0, 0, 0, 0.035), 0px 4.4px 3.5px 0px rgba(0, 0, 0, 0.028), 0px 1.8px 1.5px 0px rgba(0, 0, 0, 0.02);
  border-radius: 7.9px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  right: 73.1px;
  bottom: 82.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 215.8px;
  height: 330.7px;
}
.post-ajob .theatre-mask {
  background: url('../assets/images/theatre_mask.png') 50% / contain no-repeat;
  margin-bottom: 13.2px;
  width: 66px;
  height: 66px;
}
.post-ajob .actor {
  margin: 0 0.7px 12.7px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 17.2px;
  color: #BB362A;
}
.post-ajob .discover-the-stars-for-your-screen {
  text-align: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 13.2px;
  color: #000000;
}
.post-ajob .group-128 {
  box-shadow: 0px 66px 52.8px 0px rgba(0, 0, 0, 0.07), 0px 27.6px 22.1px 0px rgba(0, 0, 0, 0.05), 0px 14.7px 11.8px 0px rgba(0, 0, 0, 0.042), 0px 8.3px 6.6px 0px rgba(0, 0, 0, 0.035), 0px 4.4px 3.5px 0px rgba(0, 0, 0, 0.028), 0px 1.8px 1.5px 0px rgba(0, 0, 0, 0.02);
  border-radius: 7.9px;
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 85.5px;
  top: 50%;
  translate: 0 -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20.6px 0 21.3px;
  height: 330.7px;
  box-sizing: border-box;
}
.post-ajob .container-2 {
  position: relative;
  margin: 0 31.5px 126px 0;
  display: flex;
  align-self: center;
  box-sizing: border-box;
}
.post-ajob .looking-for-something-else {
  margin: 0 124px 18px 124px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  color: #000000;
}
.post-ajob .other {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
.post-ajob .container-4 {
  border-radius: 10px;
  border: 1px solid #000000;
  position: relative;
  margin: 0 124px 104px 124px;
  display: flex;
  align-self: flex-start;
  padding: 12px 0 17px 1px;
  width: 325px;
  box-sizing: border-box;
}
.post-ajob .next {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}
.post-ajob .group-129 {
  display: flex;
  box-sizing: border-box;
}
.post-ajob .container-9 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  background: linear-gradient(90deg, #BB362A, #F15042);
  position: relative;
  margin: 0 0 359px 3px;
  display: flex;
  align-self: center;
  padding: 10px 1px 10px 0;
  width: 325px;
  box-sizing: border-box;
}
.post-ajob .footer-1 {
  background: url('../assets/images/footer_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1436px;
  height: 587px;
}
.post-ajob .company {
  margin-right: 16px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob .artists-and-recruiters {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob .support {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 26px;
  color: #BB362A;
}
.post-ajob .container-6 {
  position: relative;
  margin-bottom: 26px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 823.5px;
  box-sizing: border-box;
}
.post-ajob .about-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .casting-calls {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .help {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .container-12 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 768px;
  box-sizing: border-box;
}
.post-ajob .our-team {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .join-our-community {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .pricing {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .container-11 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 794px;
  box-sizing: border-box;
}
.post-ajob .partners {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .agencies {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .faqs {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .container-5 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 778px;
  box-sizing: border-box;
}
.post-ajob .how-we-work {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .popular-auditions {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .contact-us-1 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .container-17 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 837.3px;
  box-sizing: border-box;
}
.post-ajob .contact-us {
  margin-right: 13.5px;
  width: 154px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .post-ajob-2 {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .privacy-policy {
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .container-10 {
  position: relative;
  margin: 0 1px 9px 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 865.6px;
  box-sizing: border-box;
}
.post-ajob .find-talent-1 {
  position: relative;
  margin: 0 177.2px 9px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .partners-1 {
  position: relative;
  margin: 0 206.4px 152px 0;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #FFFFFF;
}
.post-ajob .connect-with-us {
  margin-right: 9.2px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 22px;
  color: #BB362A;
}
.post-ajob .instagram {
  background: url('../assets/images/instagram.png') 50% / contain no-repeat;
  margin: 1px 0 2px 0;
  width: 26px;
  height: 24px;
}
.post-ajob .twitter-x {
  background: url('../assets/images/twitter_x.png') 50% / contain no-repeat;
  margin: 1px 24px 2px 0;
  width: 22px;
  height: 24px;
}
.post-ajob .you-tube {
  background: url('../assets/images/you_tube.png') 50% / contain no-repeat;
  width: 27px;
  height: 27px;
}
.post-ajob .container-14 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.post-ajob .facebook {
  background: url('../assets/images/facebook.png') 50% / contain no-repeat;
  position: absolute;
  top: 1px;
  right: 28px;
  width: 24px;
  height: 24px;
}
.post-ajob .container-1 {
  position: relative;
  margin: 0 1px;
  display: flex;
  align-self: flex-start;
  box-sizing: border-box;
}
.post-ajob .group-131 {
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 49px 0 61px 100px;
  width: fit-content;
  box-sizing: border-box;
}
.post-ajob .container-3 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.post-ajob .vector-223 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 12px;
  height: 24px;
}
.post-ajob .container {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 159px;
  top: 980px;
  display: flex;
  padding: 8px 14px 7px 13px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.post-ajob .rectangle-324 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  top: 0px;
  translate: -50% 0;
  width: 39px;
  height: 39px;
}
.post-ajob .vector-224 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  width: 12px;
  height: 24px;
}
.post-ajob .container-7 {
  border: 0.1px solid #000000;
  background: #FFFFFF;
  position: absolute;
  top: 980px;
  right: 192px;
  display: flex;
  padding: 8px 14px 7px 13px;
  width: 39px;
  height: 39px;
  box-sizing: border-box;
}
.post-ajob-1 {
  background: #FFFFFF;
  width: 1440px;
  box-sizing: border-box;
}
